.how-to-buy-card {
    position: relative;
    background-color: #fff;
    transition: all 0.3s ease;

    &.border-box {
        border-radius: 1rem 0 1rem 1rem;
    }

    &__corner {
        position: absolute;
        top: -1px;
        right: 0;
        transform: translateX(100%);
        background-color: #fff;
        z-index: 2;
        width: 1.1rem;
        height: 1.7rem;
        clip-path: polygon(0 0, 0% 100%, 100% 0);

        &:before {
            position: absolute;
            content: "";
            top: 0;
            left: 0;
            height: 1px;
            width: 100%;
            background-color: #ececec;
        }

        &::after {
            position: absolute;
            content: "";
            top: 0;
            right: 0;
            height: calc(((1.1rem * 2) + (1.7rem * 2)) / 2);
            width: 1px;
            background-color: #ececec;
            transform: rotate(32deg);
            transform-origin: top right;
        }
    }

    &__border {
        position: absolute;
        top: 0;
        left: 0;
        width: calc(100% + 1.5rem);
        height: 100%;
        z-index: 1;
        transition: all 0.3s ease;
        transform: scale(-1, 1);

        @media (max-width: $md2+px) {
            transform: scale(1);
            left: auto;
            right: 0;
        }

        @media (max-width: $md3+px) {
            width: calc(100% + 1.2rem);
        }
    }

    &__bg {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 1;
        opacity: 0;
        transition: all 0.3s ease;
        background-color: #fff;
        border-radius: 1rem 0 1rem 1rem;
        box-shadow: 0px 12px 24px rgba(51, 51, 51, 0.2);

        @media (max-width: $md2+px) {
            border-radius: 0 1rem 1rem 1rem;
        }
        @media (max-width: $md3+px) {
            border-radius: 0 0.6rem 0.6rem 0.6rem;
        }

        &:before {
            position: absolute;
            content: "";
            top: 0;
            right: 0;
            width: 1.2rem;
            height: 1.8rem;
            transform: translateX(100%);
            background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTIiIGhlaWdodD0iMTgiIHZpZXdCb3g9IjAgMCAxMiAxOCIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHBhdGggZD0iTTEyIDBIMFYxOEwxMiAwWiIgZmlsbD0id2hpdGUiLz4KPC9zdmc+Cg==);
            background-position: center;
            background-size: contain;
            background-repeat: no-repeat;
            z-index: 2;
            display: block;

            @media (max-width: $md2+px) {
                right: auto;
                left: 0;
                transform: translate(-100%) scale(-1, 1);
            }
        }
    }

    &__body {
        position: relative;

        @media (min-width: 992px) {
            padding-left: 13rem;
            &:before {
                position: absolute;
                content: "";
                top: 0;
                left: 9rem;
                width: 1px;
                height: 100%;
                background-color: rgba(#ececec, 0.5);
            }
        }
    }

    &__col-1 {
        padding-bottom: 3rem;
        margin-bottom: 3rem;
        border-bottom: 1px solid rgba(#ececec, 0.5);
        display: flex;
        align-items: center;
        gap: 1.6rem;

        @media (max-width: $md3+px) {
            padding-bottom: 2rem;
            margin-bottom: 2rem;
            gap: 12px;
        }
    }

    &__col-2 {
    }

    &__icon {
        height: 4rem;
        flex: 0 0 auto;

        @media (max-width: $md3+px) {
            height: 30px;
        }

        & img,
        & svg {
            width: auto;
            height: 100%;
        }
    }

    &__num {
        @media (min-width: 992px) {
            position: absolute;
            top: 0;
            left: 0;
        }

        @media (max-width: $md2+px) {
            margin-right: 2.4rem;
        }

        @media (max-width: $md3+px) {
            margin-right: 8px;
        }

        &.num {
            font-size: 3rem;
            line-height: 3.5rem;

            @media (max-width: $md3+px) {
                font-size: 20px;
                line-height: 23px;
            }
        }
    }

    &__title {
    }

    &__text {
        margin-bottom: 2rem;

        @media (max-width: $md3+px) {
            margin-bottom: 14px;
        }

        & > *:last-child {
            margin-bottom: 0;
        }
    }

    &__text-collapse {
        display: none;

        & > *:last-child {
            margin-bottom: 0;
        }
    }

    &__btn {
        font-size: 1.6rem;
        line-height: 1.9rem;
        cursor: pointer;
        position: relative;
        transition: all 0.3s ease;
        display: inline-block;
        padding-right: 1.6rem;
        color: $textColorSecondary;

        @media (max-width: $md3+px) {
            font-size: 14px;
            line-height: 16px;
        }

        @media (min-width: 992px) {
            &:hover {
                color: $textColor;
            }
        }

        &:before {
            font-family: "icomoon" !important;
            position: absolute;
            content: "\e940";
            top: 50%;
            -webkit-transform: translateY(-50%);
            -ms-transform: translateY(-50%);
            transform: translateY(-50%);
            right: 0;
            -webkit-transition: -webkit-transform 0.3s ease;
            transition: -webkit-transform 0.3s ease;
            -o-transition: transform 0.3s ease;
            transition: transform 0.3s ease;
            transition: transform 0.3s ease, -webkit-transform 0.3s ease;
            font-size: 0.6rem;
        }
    }

    & .hide-after-that {
        display: none;
    }

    &--open {
        box-shadow: 0px 12px 24px rgba(51, 51, 51, 0.2);
        border-color: transparent !important;

        & .how-to-buy-card__corner {
            box-shadow: 0px 12px 24px rgba(51, 51, 51, 0.2);
            &::before,
            &::after {
                opacity: 0;
            }
        }
    }

    &--revers {
        @media (min-width: 992px) {
            & .how-to-buy-card__border {
                transform: scale(1);
                left: auto;
                right: 0;
            }

            & .how-to-buy-card__bg {
                border-radius: 0 1rem 1rem 1rem;

                &:before {
                    right: auto;
                    left: 0;
                    transform: translate(-100%) scale(-1, 1);
                }
            }

            & .how-to-buy-card__body {
                flex-direction: row-reverse;
                padding: 4rem 6.5rem 4rem 4rem;
            }

            & .how-to-buy-card__col-1 {
                display: flex;
                flex-direction: column;
                align-items: flex-end;
            }

            & .how-to-buy-card__col-2 {
                padding-left: 0;
                border-left: none;
                padding-right: 4rem;
                border-right: 1px solid $borderColor;
            }
        }
    }
}
