.search-top-filter {
    position: relative;
    padding: 0rem 5.5rem;

    @media (max-width: $md3+px) {
        border-radius: 0;
        padding: 0 0px;
    }

    &__shadow-left {
        pointer-events: none;
        position: absolute;
        top: 0;
        left: 5.5rem;
        height: 100%;
        width: 17.8rem;
        z-index: 4;
        background: linear-gradient(90deg, #fff 0%, rgba(#fff, 0.0001) 100%);

        @media (max-width: $md3+px) {
            width: 100px;
            left: 0px;
        }
    }

    &__shadow-right {
        pointer-events: none;
        position: absolute;
        top: 0;
        right: 5.5rem;
        height: 100%;
        width: 17.8rem;
        z-index: 4;
        background: linear-gradient(270deg, #fff 0%, rgba(#fff, 0.0001) 100%);

        @media (max-width: $md3+px) {
            width: 100px;
            right: 0px;
        }
    }

    & .swiper {
        width: 100%;
    }

    & .swiper-slide {
        width: auto;
        padding-right: 1rem;

        @media (max-width: $md3+px) {
            &:first-child {
                padding-left: 20px;
            }

            &:last-child {
                padding-right: 20px;
            }
        }
    }

    &__btn {
        display: block;
        position: relative;
        cursor: pointer;
        transition: all 0.3s ease;

        @media (min-width: 992px) {
            &:hover {
                & .search-top-filter__btn-text {
                    background-color: $mainColor;
                    color: #fff;
                }

            }
        }

        &.inactive {
            pointer-events: none;

            & .search-top-filter__btn-text {
                background-color: transparent;
                border-color: #D6DBDC;
                color: $textColorSecondary;
            }
        }

        & input {
            position: absolute;
            z-index: -1;
            opacity: 0;

            &:checked ~ .search-top-filter__btn-text {
                background-color: transparent;
                border-color: $mainColor;
                color: $mainColor;
            }
        }
    }

    &__btn-text {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #fff;
        border-radius: 3.2rem;
        padding: 1rem 2.6rem;
        min-height: 4.4rem;
        font-weight: 500;
        font-size: 1.8rem;
        line-height: 2.1rem;
        border: 1px solid $borderColor;
        transition: all 0.3s ease;
        text-align: center;

        @media (max-width: $md3+px) {
            min-height: 34px;
            padding: 8px 20px;
            font-size: 14px;
            line-height: 16px;
        }

        & span {
            color: $textColorSecondary;
            margin-left: 0.3em;
        }
    }

    & .slider-btn {
        top: 50%;
        transform: translateY(-50%);
        z-index: 5;

        @media (max-width: $md2+px) {
            display: flex;
        }

        @media (max-width: $md3+px) {
            display: none !important;
        }
        
        &.swiper-button-disabled {
            display: flex ;
        }

        &.btn-prev {
            left: 0rem;

            &.swiper-button-disabled {
                & ~ .search-top-filter__shadow-left {
                    display: none;
                }
            }
        }
        &.btn-next {
            right: 0rem;

            &.swiper-button-disabled {
                & ~ .search-top-filter__shadow-right {
                    display: none;
                }
            }
        }
    }
}
