.buttons-group {
    padding-left: 0;
    margin-bottom: 0;
    display: flex;
    align-items: center;

    & > li {
        &:not(:last-child) {
            margin-right: 1.5rem;
        }
    }

    & a {
        display: flex;
        padding: 0.4rem 1.2rem;
        border-radius: 0.6rem;
        transition: all 0.3s ease;
        opacity: 1 !important;
        font-size: 1.4rem;
        line-height: 1.21em;
        white-space: nowrap;

        @media (max-width: $md3+px) {
            font-size: 13px;
            line-height: 16px;
        }

        @media (min-width: 992px) {
            &:hover {
                background-color: rgba($textColorSecondary, 0.2);
            }
        }

        &.tab-active {
            pointer-events: none;
            background-color: $mainColor;
            color: #fff;
        }
    }
}

.btn-default {
    min-width: 24rem;
    min-height: 6.8rem;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 1.5rem 3rem;
    border-radius: 1rem;
    background-color: $mainColor;
    color: #fff;
    border: none;
    outline: none;
    box-shadow: none;
    transition: all 0.3s ease;
    font-size: 1.8rem;
    line-height: 1.22em;
    opacity: 1 !important;

    @media (max-width: $md3+px) {
        min-height: 58px;
        border-radius: 6px;
        padding: 10px 20px;
        font-size: 16px;
        line-height: 19px;
    }

    @media (min-width: 992px) {
        &:hover {
            background-color: $hover;
            color: #fff;
        }
    }

    &.inactive {
        background-color: #F9F9F9 !important;
        color: $textColorSecondary !important;
        pointer-events: none;
    }

    & i {
        flex: 0 0 auto;
        font-size: 0.8em;
        font-weight: 400;
        margin-right: 0.65em;
    }

    & svg, & img {
        flex: 0 0 auto;
        height: 1em;
        width: auto;
        margin-right: 0.55em;
    }

    &--second {
        background-color: $successColor;

        @media (min-width: 992px) {
            &:hover {
                background-color: #4da63e;
            }
        }
    }
    &--third {
        background-color: $secondColor;

        @media (min-width: 992px) {
            &:hover {
                background-color: #082f44;
            }
        }
    }
}
