.buttons-group {
    padding-left: 0;
    margin-bottom: 0;
    display: flex;
    align-items: center;
    gap: 1rem;

    & > li {
        &:last-child {
            @media (max-width: $md3+px) {
                padding-right: 20px;
            }
        }
    }

    & a {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: transparent;
        border-radius: 3.2rem;
        padding: 0.7rem 2.6rem;
        min-height: 4rem;
        font-weight: 500;
        font-size: 1.6rem;
        line-height: 1.18em;
        border: 1px solid $borderColor;
        transition: all 0.3s ease;
        text-align: center;
        white-space: nowrap;
        gap: 1rem;
        opacity: 1 !important;
        box-sizing: border-box;

        @media (max-width: $md3+px) {
            min-height: 34px;
            padding: 5px 15px;
            font-size: 14px;
            line-height: 16px;
        }

        @media (min-width: 992px) {
            &:hover {
                background-color: $mainColor;
                color: #fff;

                & span {
                    border-color: #fff;
                    background-color: #fff;
                    color: $mainColor;
                }

                & svg {
                    color: #fff;
                }
            }
        }

        & img,
        & svg {
            height: 1em;
            width: auto;
            flex: 0 0 auto;
            color: $mainColor;
        }

        &.active,
        &.tab-active {
            border-color: $mainColor;
            color: $mainColor;
            background-color: transparent;

            & span {
                background-color: $mainColor;
                border-color: $mainColor;
                color: #fff;
            }
        }

        &.inactive {
            pointer-events: none;
            background-color: transparent;
            border-color: #d6dbdc;
            color: $textColorSecondary;
        }

        & span {
            display: flex;
            justify-content: center;
            align-items: center;
            min-width: 3rem;
            height: 3rem;
            color: $textColorSecondary;
            border-radius: 100px;
            border: 1px solid $borderColor;
            margin-left: 1.4rem;
            transition: all 0.3s ease;
            font-size: 1.6rem;
            line-height: 1.9rem;
            margin-right: -1.9rem;
            padding: 0.2rem 0.3rem 0;

            @media (max-width: $md3+px) {
                height: 24px;
                min-width: 24px;
                margin-left: 10px;
                margin-right: -15px;
                font-size: 12px;
                line-height: 14px;
            }
        }
    }
}

.btn-default {
    min-width: 24rem;
    min-height: 6.4rem;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 1.5rem 3rem;
    border-radius: 100px;
    background-color: $mainColor;
    color: #fff;
    border: none;
    outline: none;
    box-shadow: none;
    transition: all 0.3s ease;
    font-size: 1.8rem;
    line-height: 1.22em;
    opacity: 1 !important;
    gap: 0.65em;

    @media (max-width: $md3+px) {
        min-height: 58px;
        padding: 10px 20px;
        font-size: 16px;
        line-height: 19px;
    }

    @media (min-width: 992px) {
        &:hover {
            background-color: $hover;
            border-color: $hover;
            color: #fff;
        }
    }

    @media (max-width: $md2+px) {
        color: #fff !important;
    }

    &.inactive {
        background-color: #f9f9f9 !important;
        color: $textColorSecondary !important;
        pointer-events: none;
        font-weight: 500;
    }

    & i {
        flex: 0 0 auto;
        font-size: 0.8em;
        font-weight: 400;
    }

    & svg,
    & img {
        flex: 0 0 auto;
        height: 1em;
        width: auto;
    }

    &:active {
        transform: translateY(2px);
    }

    &--md {
        min-height: 5.4rem;
        font-weight: 500;
        font-size: 1.8rem;
        line-height: 2.1rem;

        @media (max-width: $md3+px) {
            min-height: 5rem;
            font-size: 16px;
            line-height: 19px;
            min-width: 180px;
        }
    }

    &--sm {
        font-size: 1.6rem;
        line-height: 1.1875em;
        min-height: 4.4rem;
        font-weight: 400;

        @media (max-width: $md3+px) {
            font-size: 14px;
            line-height: 16px;
            min-height: 34px;
        }
    }

    &--xs {
        font-size: 1.6rem;
        line-height: 1.1875em;
        min-height: 4rem;
        min-width: auto;
        padding: 0.8rem 2rem;

        @media (max-width: $md3+px) {
            font-size: 14px;
            line-height: 16px;
            min-height: 3.4rem;
        }
    }

    &--light {
        background: transparent;
        color: $textColor;
        border: 1px solid $borderColor;

        @media (min-width: 992px) {
            &:hover {
                background-color: $mainColor;
                border-color: $mainColor;
                color: #fff;

                & svg,
                i {
                    color: #fff;
                }
            }
        }

        @media (max-width: $md2+px) {
            color: $textColor !important;
        }

        & svg,
        i {
            color: $mainColor;
        }
    }

    &--second {
        background-color: $successColor;

        @media (min-width: 992px) {
            &:hover {
                background-color: #4da63e;
            }
        }
    }
    &--third {
        background-color: $dangerColor;

        @media (min-width: 992px) {
            &:hover {
                background-color: #a83a2c;
            }
        }
    }
}

button {
    &:active {
        transform: translateY(2px);
    }
}
