.carousel {
    overflow: hidden;
    &__head {
    }

    &__tubs {
    }

    &__body {
    }

    &__content {
        position: relative;


    }

    &__slider {
        overflow: visible;

        & .swiper-slide {
            height: auto;
            width: auto;

            @media (max-width: $md2+px) {
                padding-right: 30px;
            }

            @media (max-width: $md3+px) {
                padding-right: 20px;
            }
        }

        & .swiper-lazy-preloader {
            border-color: $mainColor;
            border-top-color: transparent;
        }

        @media (min-width: 992px) {
            &:after {
                position: absolute;
                content: "";
                top: 50%;
                left: 0;
                height: calc(100% + 10px);
                width: 100vw;
                transform: translateY(-50%) translateX(-100%);
                background-color: #fff;
                opacity: 0.9;
                z-index: 3;
            }
            &::before {
                position: absolute;
                content: "";
                top: 50%;
                right: 0;
                height: calc(100% + 10px);
                width: 100vw;
                transform: translateY(-50%) translateX(100%);
                background-color: #fff;
                opacity: 0.9;
                z-index: 4;
            }
        }
    }

    &__btn {
        position: absolute;
        top: 8.5rem;
        z-index: 5;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 4rem;
        width: 4rem;
        border-radius: 50%;
        color: #fff;
        cursor: pointer;
        background-color: $mainColor;
        font-size: 1.2rem;
        transition: all 0.3s ease;
        z-index: 5;

        @media (max-width: $md2+px) {
            display: none;
        }

        @media (min-width: 992px) {
            &:hover {
                background-color: $hover;
            }
        }
    }

    &__btn-prev {
        left: -2rem;

        & i {
            transform: scale(-1, 1);
        }
    }

    &__btn-next {
        right: -2rem;
    }
}

.carousel-card {
    width: 100%;
    display: flex;
    flex-direction: column;
    height: 100%;

    @media (max-width: 991.98px) {
        width: 28.8rem;
    }

    @media (max-width: $md3+px) {
        width: 230px;
    }

    @media (min-width: 992px) {
        &:hover {
            box-shadow: 0px 12px 14px rgba(111, 111, 111, 0.1);
            & .carousel-card__body {
                border-color: $mainColor;
            }
        }
    }
    &__img {
        height: 0;
        padding-bottom: 71.91%;
        overflow: hidden;
        border-radius: 1rem 1rem 0 0;

        & a {
            opacity: 1 !important;
        }
    }

    &__body {
        border: 1px solid #ececec;
        flex: 1 1 auto;
        padding: 3rem;
        border-top: none;
        border-radius: 0 0 1rem 1rem;
        display: flex;
        flex-direction: column;
        transition: all .3s ease;

        @media (max-width: $md3+px) {
            padding: 20px 20px 18px;
        }

        & hr {
            margin-top: auto;
            margin-bottom: 2rem;
            opacity: 0.5 !important;

            @media (max-width: $md3+px) {
                margin-bottom: 14px;
            }
        }
    }

    &__title {
        font-weight: 500;
        font-size: 1.8rem;
        line-height: 2.1rem;
        margin-bottom: 2rem;

        @media (max-width: $md3+px) {
            font-size: 14px;
            line-height: 16px;
            margin-bottom: 14px;
        }
    }

    &__date {
        font-size: 1.4rem;
        line-height: 1.21em;
        color: $textColorSecondary;
        display: flex;
        align-items: center;

        @media (max-width: $md3+px) {
            font-size: 13px;
            line-height: 15px;
        }

        & img,
        & svg {
            flex: 0 0 auto;
            margin-right: 1rem;
            width: 1.4rem;
            height: auto;
            opacity: 0.5;
        }
    }

    &__bottom {
        display: flex;
    }

    &__bottom-item {
        flex: 0 1 50%;

        &:last-child {
            text-align: right;
        }
    }

    &__label {
        font-size: 1.4rem;
        line-height: 1.28em;
        color: $textColorSecondary;
        margin-bottom: 0.6rem;

        @media (max-width: $md3+px) {
            font-size: 13px;
            line-height: 15px;
            margin-bottom: 6px;
        }
    }

    &__price {
        font-weight: 500;
        font-size: 2rem;
        line-height: 2.2rem;
        color: $mainColor;

        @media (max-width: $md3+px) {
            font-size: 18px;
            line-height: 21px;
        }
    }

    &__location {
        font-weight: 400;
        font-size: 1.6rem;
        line-height: 2.2rem;

        @media (max-width: $md3+px) {
            font-size: 14px;
            line-height: 21px;
        }
    }
}
