.accordion {
    padding-left: 0;
    margin-bottom: 0;
    padding: 3rem;
    border-radius: 1rem;
    border: 1px solid $borderColor;

    @media (max-width: $md3+px) {
        padding: 2rem;
    }

    & > li {
        position: relative;

        &:not(:last-child) {
            padding-bottom: 2.4rem;
            margin-bottom: 2.4rem;

            @media (max-width: $md3+px) {
                padding-bottom: 20px;
                margin-bottom: 20px;
            }

            &:before {
                position: absolute;
                content: "";
                left: 0;
                bottom: 0;
                height: 1px;
                width: 100%;
                background: #eaebec;
            }
        }

        &:after {
            position: absolute;
            content: "";
            top: -2.4rem;
            left: 50%;
            width: calc(100% + 6rem);
            height: calc(100% + 2.4rem);
            transform: translateX(-50%);
            background-color: #f9f9f9;
            z-index: -1;
            opacity: 0;
            transition: all 0.3s ease;

            @media (max-width: $md3+px) {
                top: -20px;
                width: calc(100% + 4rem);
                height: calc(100% + 2rem);
            }
        }

        &.active {
            &:after {
                opacity: 1;
            }
        }

        &:first-child {
            &::after {
                top: -3rem;
                height: calc(100% + 3rem);

                @media (max-width: $md3+px) {
                    top: -2rem;
                    height: calc(100% + 2rem);
                }
            }
        }

        &:last-child {
            &::after {
                height: calc(100% + 2.4rem + 3rem);

                @media (max-width: $md3+px) {
                    height: calc(100% + 2rem + 2rem);
                }
            }
        }
    }

    &__title {
        cursor: pointer;
        position: relative;
        font-weight: 500;
        font-size: 1.8rem;
        line-height: 2.1rem;
        transition: all 0.3s ease;
        padding-right: 2.5rem;

        @media (max-width: $md3+px) {
            font-size: 14px;
            line-height: 16px;
        }

        &:before {
            font-family: "icomoon" !important;
            position: absolute;
            content: "\e940";
            top: 50%;
            transform: translateY(-50%);
            right: 0;
            display: inline-block;
			font-size: 0.6rem;
			padding-top: 0.2rem;
			color: $mainColor;
			display: flex;
			justify-content: center;
			align-items: center;
			height: 2.4rem;
			width: 2.4rem;
			border-radius: 50%;
			border: 1px solid $borderColor;
            transition: background-color, border-color 0.3s ease 0s;

            @media (max-width: $md3+px) {
				width: 20px;
				height: 20px;
				font-size: 0.5rem;
			}
        }

        &.active {
            color: $mainColor;

            &:before {
                background-color: $mainColor;
				border-color: $mainColor;
				transform: translateY(-50%) scale(1, -1);
				color: #fff
            }
        }

        @media (min-width: 992px) {
            &:hover {
                color: $mainColor;
            }
        }
    }

    &__text {
        padding-top: 1rem;
        & > *:last-child {
            margin-bottom: 0;
        }
    }

    &__num {
        position: absolute;
        left: 0;
        color: $textColorSecondary;
    }

    &__list {
        & > *:last-child {
            margin-bottom: 0;
        }
        & h4 {
            padding-left: 1.8rem;
            position: relative;
            margin-bottom: 1.4rem;

            @media (max-width: $md3+px) {
                margin-bottom: 10px;
            }

            &:not(:first-child) {
                margin-top: 2rem;

                @media (max-width: $md3+px) {
                    margin-top: 16px;
                }
            }
            &:before {
                position: absolute;
                content: "";
                display: block;
                top: 1rem;
                left: 0;
                transform: translateY(-50%);
                height: 0.4rem;
                width: 0.4rem;
                border-radius: 50%;
                background-color: $mainColor;
            }
        }
    }

    &--whit-num {
        & .accordion__title {
            padding-left: 3rem;

            @media (max-width: $md3+px) {
                padding-left: 20px;
            }
        }

        & .accordion__text {
            padding-left: 3rem;
            position: relative;
            padding-top: 2rem;

            @media (max-width: $md3+px) {
                padding-top: 16px;
                padding-left: 20px;
            }

            &:before {
                position: absolute;
                content: "";
                bottom: 0;
                left: 1px;
                height: calc(100% - 2rem);
                width: 0.4rem;
                background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjAiIGhlaWdodD0iMjAiIHZpZXdCb3g9IjAgMCAyMCAyMCIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPGNpcmNsZSBjeD0iMTAiIGN5PSIxMCIgcj0iNSIgZmlsbD0iI0Q5RDlEOSIvPgo8L3N2Zz4K);
                background-size: 0.4rem;
                background-repeat: repeat-y;
            }

            &.text-content {
                line-height: 1.88em;
            }
        }
    }
}
