.calendar-box {
    position: relative;

    &__border {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 1;
    }

    &__body {
        position: relative;
        z-index: 2;
        border-radius: 1rem;
        border: 1px solid $borderColor;
    }
}

.calendar {
    font-size: 1.4rem;
    line-height: 1.21em;

    @media (max-width: $md3+px) {
        font-size: 13px;
        line-height: 16px;
    }

    &__head {
        display: flex;
        align-items: center;
        gap: 1.4rem;
        color: inherit;
        font-size: 1.6rem;
        line-height: 1.9rem;

        @media (max-width: $md3+px) {
            justify-content: space-between;
            font-size: 14px;
            line-height: 16px;
        }

        & > div {
            flex: 1 1 auto;
            @media (max-width: $md3+px) {
                flex: 0 1 auto;
                display: flex;
                flex-wrap: wrap;
                gap: 0.2em;
            }
        }
    }

    &__weekday {
        font-weight: 700;
    }

    &__body {
        display: flex;
        flex-wrap: wrap;
        overflow: hidden;
    }

    &__item {
        color: $textColorSecondary;

        @media (min-width: 992px) {
            flex: 0 1 calc(100% / 7);

            &:not(:nth-child(7n)) {
                position: relative;

                &:before {
                    position: absolute;
                    content: "";
                    right: 0;
                    bottom: 0;
                    width: 1px;
                    height: 100%;
                    background-color: #ececec;
                    opacity: 0.5;
                }
            }

            &:not(:nth-last-child(-n + 7)) {
                &:after {
                    position: absolute;
                    content: "";
                    bottom: 0;
                    right: 0;
                    height: 1px;
                    width: 100%;
                    background-color: #ececec;
                    opacity: 0.5;
                }
            }

            &:nth-child(7n + 1) {
                & .calendar__inner {
                    padding-left: 4rem;
                }

                &:after {
                    width: calc(100% - 4rem);
                }
            }

            &:nth-child(7n) {
                & .calendar__inner {
                    padding-right: 4rem;
                }

                &:after {
                    right: auto;
                    left: 0;
                    width: calc(100% - 4rem);
                }
            }

            &:nth-child(-n + 7) {
                &::before {
                    height: calc(100% - 4rem);
                }
            }

            &:nth-last-child(-n + 7) {
                &::before {
                    bottom: auto;
                    top: 0;
                    height: calc(100% - 4rem);
                }
            }
        }

        @media (max-width: $md2+px) and (min-width: 768px) {
            flex: 0 1 calc(100% / 3);

            &:not(:nth-child(3n)) {
                position: relative;

                &:before {
                    position: absolute;
                    content: "";
                    right: 0;
                    bottom: 0;
                    width: 1px;
                    height: 100%;
                    background-color: #ececec;
                    opacity: 0.5;
                }
            }

            &:not(:nth-last-child(-n + 3)) {
                &:after {
                    position: absolute;
                    content: "";
                    bottom: 0;
                    right: 0;
                    height: 1px;
                    width: 100%;
                    background-color: #ececec;
                    opacity: 0.5;
                }
            }

            &:nth-child(3n + 1) {
                & .calendar__inner {
                    padding-left: 4rem;
                }

                &:after {
                    width: calc(100% - 4rem);
                }
            }

            &:nth-child(3n) {
                & .calendar__inner {
                    padding-right: 4rem;
                }

                &:after {
                    right: auto;
                    left: 0;
                    width: calc(100% - 4rem);
                }
            }

            &:nth-child(-n + 3) {
                &::before {
                    height: calc(100% - 4rem);
                }
            }

            &:nth-last-child(-n + 3) {
                &::before {
                    bottom: auto;
                    top: 0;
                    height: calc(100% - 4rem);
                }
            }
        }

        @media (max-width: $md3+px) {
            flex: 0 1 100%;

            &:not(:first-child) {
                position: relative;

                &:before {
                    position: absolute;
                    content: "";
                    top: 0;
                    left: 50%;
                    width: calc(100% - 40px);
                    height: 1px;
                    background-color: rgba(#ececec, 0.5);
                    transform: translateX(-50%);
                }
            }
        }

        &.inactive {
            pointer-events: none;
            background-color: #f9f9f9;

            @media (max-width: $md2+px) {
                background-color: transparent;
                & .calendar__inner {
                    background-color: #f9f9f9;
                }
            }

            & .calendar__date-num {
                color: $textColorSecondary;
            }
        }

        @for $i from 1 through 40 {
            &:nth-child(#{$i}) {
                position: relative;
                z-index: 40 - $i;
            }
        }

        & .calendar__card {
            display: none;
        }

        &--has-event {
            color: $textColor;
            font-weight: 500;

            & .calendar__card {
                display: block;
            }
        }

        &--current-date {
            color: $mainColor;
            background-color: rgba($mainColor, 0.06);
        }

        &--empty {
            & .calendar__inner {
                display: none;
            }
            &::after {
                display: none;
            }

            @media (max-width: $md3+px) {
                display: none;
            }
        }
    }

    &__weekday--mob {
        flex: 0 0 auto;
        width: 96px;
        padding-top: 16px;

        @media (min-width: 992px) {
            display: none;
        }

        @media (max-width: $md3+px) {
            width: 40px;
            padding-top: 9px;
        }
    }

    &__inner {
        position: relative;
        height: 100%;
        width: 100%;
        min-height: 8rem;
        padding-top: 3.6rem;
        padding-bottom: 3.6rem;
        padding-left: 3rem;
        padding-right: 3rem;

        @media (max-width: $md3+px) {
            padding: 18px 20px;
            min-height: auto;
        }
    }

    &__date-num {
        font-size: 3rem;
        line-height: 3.5rem;
        flex: 0 0 auto !important;

        @media (max-width: $md3+px) {
            font-size: 20px;
            line-height: 23px;
        }
    }

    &__card {
        padding-top: 4rem;
        position: relative;

        &:before {
            position: absolute;
            content: "";
            top: 2rem;
            left: 0;
            width: 100%;
            height: 1px;
            background-color: rgba(#ececec, 0.5);
            transform: translateY(-50%);
        }
    }

    &__label {
        font-weight: 400;
        font-size: 1.6rem;
        line-height: 1.9rem;
        color: $textColorSecondary;
        margin-bottom: 1.4rem;

        @media (max-width: $md3+px) {
            font-size: 14px;
            line-height: 16px;
        }
    }

    &__list {
        padding-left: 0;
        margin-bottom: 0;

        & > li {
            &:not(:last-child) {
                margin-bottom: 1rem;
            }
        }

        & a {
            font-weight: 500;
            font-size: 1.6rem;
            line-height: 2rem;
            color: inherit;

            @media (max-width: $md3+px) {
                font-size: 14px;
                line-height: 18px;
            }
        }

        &--collapse {
            padding-top: 1rem;
            display: none;
        }
    }

    &__more {
        align-items: center;
        cursor: pointer;
        transition: color 0.3s ease;
        color: $textColorSecondary;
        font-size: 1.6rem;
        line-height: 1.9rem;
        font-weight: 400;
        margin-top: 1.4rem;
        display: none;

        @media (max-width: $md3+px) {
            font-size: 14px;
            line-height: 16px;
        }

        @media (min-width: 992px) {
            &:hover {
                color: rgba($textColor, 0.7);
            }
        }

        &:after {
            content: "";
            font-family: "icomoon" !important;
            content: "\e940";
            -webkit-transition: -webkit-transform 0.3s ease;
            transition: -webkit-transform 0.3s ease;
            -o-transition: transform 0.3s ease;
            transition: transform 0.3s ease;
            transition: transform 0.3s ease, -webkit-transform 0.3s ease;
            font-size: 0.6rem;
            margin-left: 0.6rem;
        }

        &::before {
            content: attr(data-text);
            font-size: 1.6rem;
            line-height: 1.9rem;
            font-weight: 400;
            display: none;
        }

        &--visible {
            display: flex;
        }

        &--list-open {
            font-size: 0;

            &::before {
                display: block;
            }

            &::after {
                transform: scale(1, -1);
            }
        }
    }
}
