.main-filter-top {
    margin-bottom: 3rem;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;

    @media (max-width: $md2+px) {
        margin-bottom: 0;
        padding: 3rem 3rem 0;
    }

    @media (max-width: $md2+px) {
        padding: 2rem 2rem 0;
    }

    & button {
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        min-height: 3.8rem;
        border-radius: 3.4rem;
        border: 1px solid $borderColor;
        outline: none;
        background-color: transparent;
        font-size: 1.6rem;
        line-height: 1.1875em;
        cursor: pointer;
        transition: all 0.3s ease;
        color: $textColor;
        padding: 1rem 2rem 0.9rem;

        @media (max-width: $md3+px) {
            font-size: 14px;
            line-height: 16px;
            min-height: 28px;
            padding: 6px 14px;
        }

        @media (min-width: 992px) {
            &:hover {
                background-color: $mainColor;
                color: #fff;
                border-color: $mainColor;

                & svg {
                    color: #fff;
                }
            }
        }

        & img,
        & svg {
            flex: 0 0 auto;
            width: 1.6rem;
            height: auto;
            margin-left: 0.6rem;
            color: $textColorSecondary;
            pointer-events: none;
        }

        &.main-filter-top__clear {
            color: $textColorSecondary;
        }
    }

    &__clear {
    }

    &--empty {
        display: none;
    }
}

.main-filter {
    padding: 3rem;
    display: flex;
    flex-direction: column;
    border: 1px solid #ececec;

    @media (max-width: $md2+px) {
        border: none;
    }

    @media (max-width: $md3+px) {
        padding: 20px;
        border: none;
        border-radius: 0;
    }

    &__row {
        position: relative;
        @for $i from 1 through 50 {
            &:nth-child(#{$i}) {
                z-index: 40 - $i;
            }
        }

        &:not(:last-child) {
            margin-bottom: 2rem;
        }

        &--hide {
            display: none;

            &.show {
                display: block;
            }
        }
    }

    &__title {
        font-weight: 500;
        font-size: 1.8rem;
        line-height: 2.1rem;
        margin-bottom: 1.4rem;

        @media (max-width: $md3+px) {
            font-size: 14px;
            line-height: 16px;
            margin-bottom: 10px;
        }
    }

    &__select {
        & .select {
            height: 4.4rem;

            @media (max-width: $md3+px) {
                height: 38px;
            }

            &._active {
                & .select__item {
                    border-radius: 2rem;
                }
            }
        }

        & .select__value {
            min-height: 4.4rem;
            padding: 1rem 3.4rem 1rem 2rem;

            @media (max-width: $md3+px) {
                min-height: 38px;
            }

            &:before {
                right: 1.2rem;

                @media (max-width: $md3+px) {
                    right: 9px;
                }
            }

            & span {
                font-size: 1.6rem;
                line-height: 1.1875em;

                @media (max-width: $md3+px) {
                    font-size: 13px;
                    line-height: 15px;
                }
            }
        }

        & .select__options {
            padding-left: 2rem;
            padding-right: 2rem;
            padding-bottom: 2rem;
            font-size: 1.6rem;
            line-height: 1.1875em;

            @media (max-width: $md3+px) {
                font-size: 13px;
                line-height: 16px;
            }
        }
    }

    &__row--advanced {
        @media (min-width: 768px) {
            margin-bottom: 3rem !important;
        }
    }

    &__row--submit {
    }

    &__advanced {
        display: flex;
        align-items: center;
        border: none;
        border-radius: 0;
        outline: none;
        background-color: transparent;
        font-size: 1.6rem;
        line-height: 1.1875em;
        cursor: pointer;
        transition: all 0.3s ease;
        padding: 0;

        @media (max-width: $md3+px) {
            font-size: 14px;
            line-height: 16px;
        }

        @media (min-width: 992px) {
            &:hover {
                opacity: 0.7;
            }
        }

        & img,
        & svg {
            flex: 0 0 auto;
            width: 2.4rem;
            height: auto;
            margin-right: 1rem;
            color: #d5d5d5;

            @media (max-width: $md3+px) {
                width: 20px;
            }
        }

        &.filter-is-open {
            & img,
            & svg {
                color: $mainColor;
            }
        }
    }

    &__submit {
        width: 100%;
    }

    &__row--reset {
    }

    &__reset {
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        min-height: 4.8rem;
        border-radius: 3.4rem;
        width: 100%;
        border: 1px solid $borderColor;
        outline: none;
        background-color: transparent;
        font-size: 1.6rem;
        line-height: 1.1875em;
        cursor: pointer;
        transition: all 0.3s ease;
        color: $textColorSecondary;
        padding: 0;

        @media (max-width: $md3+px) {
            font-size: 14px;
            line-height: 17px;
        }

        @media (min-width: 992px) {
            &:hover {
                background-color: $mainColor;
                color: #fff;
                border-color: $mainColor;
            }
        }

        & img,
        & svg {
            flex: 0 0 auto;
            width: 1.6rem;
            height: auto;
            margin-left: 0.6rem;
          
        }
    }

    &__years {
        height: 4.4rem;
        position: relative;

        @media (max-width: $md3+px) {
            height: 38px;
        }

        & .time-filter {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            border-radius: 3.2rem;
            overflow: hidden;
            border: 1px solid $borderColor;
            font-size: 1.6rem;
            line-height: 1.18em;
            transition: all 0.3s ease;

            @media (max-width: $md3+px) {
                font-size: 13px;
                line-height: 15px;
            }

            &.time-filter--selected {
                border: 1px solid $mainColor;
            }

            &.active {
                border-color: transparent;
                box-shadow: 0px 12px 24px rgba(51, 51, 51, 0.2);
                border-radius: 2rem;

                & .time-filter__dropdown {
                    max-height: 40rem;
                    padding-bottom: 1.6rem;
                }
            }
        }

        & .time-filter__top {
            height: 4.4rem;
            padding: 1rem 3.4rem 1rem 2rem;
            min-height: auto;

            @media (max-width: $md3+px) {
                height: 38px;
            }

            &::before {
                right: 1.2rem;
                font-size: 0.6rem;

                @media (max-width: $md3+px) {
                    font-size: 5px;
                    right: 0.9rem;
                }
            }
        }

        & .time-filter__dropdown {
            display: flex !important;
            position: relative;
            transition: all 0.3s ease;
            max-height: 0;
            overflow: hidden;
            padding-bottom: 0;
        }
    }
}

.filter-select {
    position: relative;
    height: 4.4rem;
    user-select: none;

    @media (max-width: $md3+px) {
        height: 38px;
    }

    &--open {
        z-index: 5;
        & .filter-select__inner {
            box-shadow: 0px 12px 24px rgba(51, 51, 51, 0.2);
            border: 1px solid transparent !important;
            border-radius: 2rem;
        }

        & .filter-select__head {
            &::before {
                background-color: $mainColor;
                border-color: $mainColor;
                transform: translateY(-50%) scale(1, -1);
                color: #fff;
            }
        }
    }

    &--selected {
        & .filter-select__inner {
            border: 1px solid $mainColor;
        }

        & .filter-select__head {
            color: $textColor;
        }
    }

    &__inner {
        position: absolute;
        top: 0;
        left: 0;
        background-color: #fff;
        border-radius: 3.2rem;
        border: 1px solid $borderColor;
        transition: transform 0.3s ease;
        width: 100%;
    }

    &__head {
        display: flex;
        align-items: center;
        position: relative;
        height: 4.4rem;
        font-size: 1.6rem;
        line-height: 1.1875em;
        color: $textColorSecondary;
        padding: 1rem 3.4rem 1rem 2rem;
        cursor: pointer;
        position: relative;

        @media (max-width: $md3+px) {
            height: 38px;
            font-size: 13px;
            line-height: 15px;
        }

        @media (min-width: 992px) {
            &:hover {
                & .filter-select__head-text {
                    width: auto;
                    padding-right: 1rem;
                }
            }
        }

        &-text {
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            width: 100%;
        }

        &:before {
            font-family: "icomoon" !important;
            position: absolute;
            content: "\e940";
            transition: background-color, border-color 0.3s ease 0s;
            top: 50%;
            transform: translateY(-50%);
            right: 1.2rem;
            font-size: 0.6rem;
            padding-top: 0.2rem;
            color: $mainColor;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 2.4rem;
            width: 2.4rem;
            border-radius: 50%;
            border: 1px solid $borderColor;
            z-index: 3;

            @media (max-width: $md3+px) {
                font-size: 5px;
                right: 9px;
                height: 20px;
                width: 20px;
            }
        }
    }

    &__collapse-box {
        padding: 0.5rem 2rem 3rem;
        display: none;
    }

    &__search {
        margin-bottom: 2rem;

        & input {
            display: flex;
            align-items: center;
            border: 1px solid #d6dbdc;
            border-radius: 3.2rem;
            height: 4rem;
            padding: 0.6rem 2rem;
            font-size: 1.4rem;
            line-height: 1.6rem;
            color: $textColor;
            width: 100%;

            @media (max-width: $md3+px) {
                font-size: 13px;
                line-height: 15px;
            }

            &::placeholder {
                color: $textColorSecondary;
            }
        }
    }

    &__scroll-wrap {
    }

    &__scroll-box {
        overflow: auto;
        max-height: 22rem;

        @media (max-width: $md3+px) {
            max-height: 19rem;
        }
    }

    &__item {
        &:not(:last-child) {
            margin-bottom: 2rem;

            @media (max-width: $md3+px) {
                margin-bottom: 14px;
            }
        }
    }
}

.filter-select-wrap {

    &--lg {
        & .main-filter__select {
            height: 6.4rem;

            @media (max-width: $md3+px) {
                height: 50px;
            }
        }

        & .filter-select__head {
            height: 6.4rem;
            padding: 0.5rem 4.5rem 0.5rem 3rem;
            font-size: 1.8rem;
			line-height: 1.222em;
            font-family: $mainFontFamily;

			@media (max-width: $md3+px) {
				font-size: 14px;
				line-height: 16px;
                height: 50px;
                padding: 5px 35px 5px 20px;
			}
        
            &::before {
                right: 2rem;
                height: 2.4rem;
                width: 2.4rem;

                @media (max-width: $md3+px) {
                    width: 20px;
                    height: 20px;
                    font-size: 0.5rem;
                    right: 15px;
    
                }
            }
        }
    }

}

.filter-date {
    border: 1px solid $borderColor;
    background-color: #fff;
    display: flex;
    border-radius: 3.2rem;

    &--selected {
        border: 1px solid $mainColor;
    }

    &__col {
        position: relative;
        flex: 0 1 50%;

        &:before {
            font-family: "icomoon" !important;
            position: absolute;
            content: "\e940";
            transition: background-color, border-color 0.3s ease 0s;
            top: 50%;
            transform: translateY(-50%);
            right: 1.2rem;
            font-size: 0.6rem;
            color: $mainColor;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 2.4rem;
            width: 2.4rem;
            border-radius: 50%;
            border: 1px solid $borderColor;
            pointer-events: none;

            @media (max-width: $md3+px) {
                padding-top: 1px;
                height: 20px;
                width: 20px;
                right: 0.9rem;
                font-size: 0.5rem;
            }
        }

        & input {
            display: flex;
            align-items: center;
            padding: 1rem 1.6rem;
            height: 4.4rem;
            width: 100%;
            font-size: 1.6rem;
            list-style: 1.18em;
            box-shadow: none;
            outline: none;
            border: none;
            cursor: pointer;
            border-radius: 3.2rem;
            background-color: transparent;

            @media (max-width: $md3+px) {
                font-size: 13px;
                line-height: 15px;
                height: 38px;
            }
        }
    }

    &__col-1 {
        &:after {
            position: absolute;
            content: "";
            top: 0;
            right: 0;
            width: 1px;
            height: 100%;
            transform: translateX(-50%);
            background-color: #d6d6d6;
        }
    }

    &__col-2 {
        & .qs-datepicker-container {
            left: auto !important;
            right: 0;
        }
    }
}

.main-filter-mobile {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 48;
    pointer-events: none;

    @media (min-width: 992px) {
        display: none;
    }

    &:before {
        position: absolute;
        content: "";
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 1;
        background-color: rgba(#051B25, 0.4);
        transition: all 0.4s ease;
        opacity: 0;
    }

    &__body {
        position: relative;
        z-index: 2;
        transition: all 0.4s ease;
        width: 100%;
        max-width: 340px;
        height: 100%;
        background-color: #fff;
        transform: translateX(-110%);

        @media (max-width: $md3+px) {
            max-width: 280px;
        }
    }

    &__inner {
        height: 100%;
        overflow-y: auto;
        overflow-x: hidden;

        &::-webkit-scrollbar {
            width: 2px;
            height: 2px;
        }
        &::-webkit-scrollbar-thumb {
            background: $mainColor;
            border-radius: 10px;
        }
        &::-webkit-scrollbar-thumb:hover {
            background: #b3afb3;
        }
        &::-webkit-scrollbar-track {
            background: #efefef;
            border-radius: 10px;
            box-shadow: inset 0px 0px 0px 0px #f0f0f0;
        }
    }

    &__arrow {
        position: absolute;
        pointer-events: none;
        top: 16px;
        left: calc(100% + 20px);
        display: flex;
        justify-content: center;
        align-items: center;
        height: 34px;
        width: 34px;
        border-radius: 50%;
        background-color: #fff;
        color: #000;
        font-size: 12px;
        padding-right: 2px;
        opacity: 0;
        transform: translateX(-50px);
        transition: all 0.3s ease;

        @media (max-width: $md3+px) {
            top: 14px;
            height: 24px;
            width: 24px;
            left: calc(100% + 8px);
            font-size: 8px;
        }

        & i {
            display: block;
            transform: scale(-1, 1);
        }
    }

    &--open {
        pointer-events: auto;

        &:before {
            opacity: 1;
        }

        & .main-filter-mobile__body {
            transform: translateX(0);
        }

        & .main-filter-mobile__arrow {
            opacity: 1;
            transform: translate(0);
        }
    }
}
