.question-box {
    position: relative;

    &__bg {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 1;
        overflow: hidden;
    }

    &__body {
        min-height: 46rem;
        display: flex;
        flex-direction: column;
        color: #fff;
        position: relative;
        z-index: 2;
        padding: 6rem 5rem 7rem;
    }

    &__title {
        margin-bottom: 3rem;
    }

    &__btn {
        margin-top: auto;
        align-self: flex-start;
        &.btn-default {
            min-height: 4.8rem;
            min-width: 18.3rem;
        }
    }
}
