.auction-history {
    background-color: #fff3f3;
    padding: 2rem 3rem;

    @media (max-width: $md3+px) {
        padding: 20px;
    }

    &__head {
        position: relative;
        display: flex;
        align-items: center;
        font-size: 1.6rem;
        line-height: 1.1875em;
        padding-right: 2.5rem;
        cursor: pointer;

        @media (max-width: $md3+px) {
            font-size: 14px;
            line-height: 17px;
        }

        &:before {
            font-family: "icomoon" !important;
            position: absolute;
            content: "\e940";
            transition: background-color, border-color 0.3s ease 0s;
            top: 50%;
            transform: translateY(-50%);
            right: 0rem;
            font-size: 0.6rem;
            padding-top: 0.2rem;
            color: $mainColor;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 2.4rem;
            width: 2.4rem;
            border-radius: 50%;
            background-color: #fff;

            @media (max-width: $md3+px) {
                width: 20px;
                height: 20px;
                font-size: 0.5rem;
            }
        }

        & img,
        & svg {
            flex: 0 0 auto;
            width: 2rem;
            height: auto;
            margin-right: 1rem;

            @media (max-width: $md3+px) {
                width: 18px;
            }
        }
    }
    &__list-wrap {
        display: none;
    }
    &__list {
        padding-left: 0;
        margin-bottom: 1rem;
        padding-top: 2rem;

        @media (max-width: $md3+px) {
            padding-top: 14px;
            margin-bottom: 1px;
        }

        & > li {
            padding: 2rem;
            background-color: #fff;
            border-radius: 1rem;

            @media (max-width: $md3+px) {
                padding: 16px;
            }

            &:not(:last-child) {
                margin-bottom: 1rem;

                @media (max-width: $md3+px) {
                }
            }
        }
    }

    &--open {
        & .auction-history__head {
            color: $dangerColor;

            &::before {
                background-color: $dangerColor;
                color: #fff;
                transform: translateY(-50%) scale(1, -1);
            }
        }
    }
}

.auction-history-card {
    display: flex;
    gap: 1.6rem;

    @media (max-width: $md3+px) {
        gap: 14px;
    }

    &__img {
        flex: 0 0 auto;
        width: 8.2rem;
        height: 6rem;
        overflow: hidden;

        @media (max-width: $md3+px) {
            width: 50px;
            height: 38px;
        }
    }

    &__list {
        flex: 1 1 auto;
        padding-left: 0;
        margin-bottom: 0;
        display: flex;
        flex-wrap: wrap;
        gap: 1.2rem 1.2rem;
        font-size: 1.4rem;
        line-height: 1.21em;

        @media (max-width: $md3+px) {
            gap: 10px;
            font-size: 13px;
            line-height: 15px;
        }

        & > li {
            flex: 0 1 calc(50% - 0.7rem);

            @media (max-width: $md2+px) and (min-width: 768px) {
                flex: 0 1 calc(25% - calc(1.4rem * 3 / 4));
            }
        }

        & label {
            display: inline-block;
            color: $textColorSecondary;
            margin-bottom: 0.4rem;
        }

        & p {
            margin-bottom: 0;
            font-size: 1.6rem;
            line-height: 1.9rem;

            @media (max-width: $md3+px) {
                font-size: 13px;
                line-height: 16px;
            }
        }
    }
}
