.hero {
    position: relative;

    &__bg {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 1;
        border-radius: 1rem;
        overflow: hidden;

        @media (max-width: $md3+px) {
            border-radius: 6px;
        }
    }

    &__body {
        position: relative;
        z-index: 2;
        color: #fff;
        min-height: 46rem;
        padding: 10rem 4rem 4rem 10rem;
        display: flex;
        flex-direction: column;

        @media (max-width: $md2+px) {
            padding: 100px 40px 40px 80px;
        }

        @media (max-width: $md3+px) {
            padding: 30px 20px 20px;
            min-height: 380px;
        }
    }

    &__title {
        max-width: 51.8rem;
        margin-bottom: 3rem;

        @media (max-width: $md3+px) {
            margin-bottom: 24px;
        }
    }

    &__text {
        max-width: 51.8rem;
        font-size: 1.6rem;
        line-height: 1.1875em;
        margin-bottom: 3rem;

        @media (max-width: $md3+px) {
            font-size: 14px;
            line-height: 17px;
            margin-bottom: 24px;
        }
    }

    &__subtext {
        text-align: right;
        margin-top: auto;
        font-size: 1.4rem;
        line-height: 1.21em;
        color: rgba(#fff, 0.5);

        @media (max-width: $md3+px) {
            font-size: 13px;
            line-height: 16px;
            text-align: left;
            padding-right: 25px;
        }
    }
}

.about-hero {
    & .article-head__img img {
        @media (max-width: $md4+px) {
            object-position: 21% 50%;
        }
    }
    & .article-head__title {
        max-width: 57.6rem;
        margin-bottom: 3rem;

        @media (max-width: $md3+px) {
            margin-bottom: 14px;
        }
    }

    & .article-head__subtitle {
        @media (max-width: $md3+px) {
            max-width: 180px;
        }
    }
}

.who-we-are {
    display: flex;
    gap: 5rem 10rem;

    @media (max-width: $md2+px) {
        gap: 40px;
    }

    @media (max-width: $md3+px) {
        flex-direction: column;
        gap: 30px;
    }

    &__col-1 {
        @media (min-width: 768px) {
            flex: 1 1 auto;
        }
    }

    &__col-2 {
        @media (min-width: 992px) {
            flex: 0 0 60.5rem;
        }

        @media (min-width: 768px) {
            flex: 0 0 23rem;
            border-left: 1px solid #ececec;
        }

        @media (max-width: $md3+px) {
            padding-top: 3rem;
            position: relative;

            &:before {
                position: absolute;
                content: "";
                top: 0;
                left: 50%;
                width: 100vw;
                height: 1px;
                background-color: #ececec;
                transform: translateX(-50%);
            }
        }
    }

    &__row {
        &:not(:last-child) {
            margin-bottom: 5rem;

            @media (max-width: $md3+px) {
                margin-bottom: 30px;
            }
        }
    }

    &__text {
        & > *:last-child {
            margin-bottom: 0;
        }
    }

    &__images {
        padding-left: 10rem;

        @media (max-width: $md2+px) {
            padding-left: 5rem;
        }

        @media (max-width: $md3+px) {
            padding-left: 0;
        }
    }
}

.advantages-card {
    position: relative;

    &__border {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 1;
    }

    &__body {
        position: relative;
        z-index: 2;
        padding: 5rem 5rem 6rem;

        @media (max-width: $md3+px) {
            padding: 20px;
        }
    }

    &__head {
        display: flex;
        align-items: center;
        margin-bottom: 5.5rem;
        gap: 10rem;

        @media (max-width: $md2+px) {
            margin-bottom: 45px;
        }

        @media (max-width: $md3+px) {
            margin-bottom: 20px;
            gap: 10px;
        }
    }

    &__logo {
        height: 7rem;
        flex: 0 0 auto;

        @media (max-width: $md3+px) {
            height: 44px;
        }

        & img {
            height: 100%;
            width: auto;
        }
    }

    &__img {
        width: 16rem;
        flex: 0 0 auto;
        transform: translateY(15%);

        @media (max-width: $md3+px) {
            width: 80px;
        }

        & img {
            width: 100%;
            height: auto;
        }
    }

    &__list {
        padding-left: 0;
        margin-bottom: 0;
        display: flex;
        flex-wrap: wrap;
        gap: 4rem 4.5rem;

        @media (max-width: $md2+px) {
            gap: 3.5rem 2.5rem;
        }

        @media (max-width: $md3+px) {
            flex-direction: column;
            gap: 20px;
        }

        & > li {
            flex: 0 1 calc(33.3333333% - calc(4.5rem * 2 / 3));

            @media (max-width: $md2+px) {
                flex: 0 1 calc(33.3333333% - calc(2.5rem * 2 / 3));
            }

            @media (max-width: $md3+px) {
                flex: 0 1 auto;
                position: relative;
                padding-left: 42px;
            }
        }
    }

    &__list-icon {
        height: 2.7rem;
        margin-bottom: 1.4rem;

        @media (max-width: $md3+px) {
            position: absolute;
            top: 3px;
            left: 0;
            height: 20px;
        }

        & img,
        & svg {
            height: 100%;
            width: auto;
        }
    }

    &__list-title {
        font-size: 1.6rem;
        line-height: 1.1875em;
        margin-bottom: 1.4rem;

        @media (max-width: $md3+px) {
            font-size: 14px;
            line-height: 17px;
        }
    }

    &__list-text {
        font-size: 1.4rem;
        line-height: 1.21em;
        color: $textColorSecondary;

        @media (max-width: $md3+px) {
            font-size: 13px;
            line-height: 16px;
        }
    }
}

.about-advantages {
    &__body {
        @media (max-width: $md3+px) {
            padding-top: 3rem;
            padding-bottom: 3rem;
        }
    }

    &__logo {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 7rem;
        margin-bottom: 4rem;

        @media (max-width: $md3+px) {
            height: 33px;
            margin-bottom: 20px;
        }

        & img {
            max-width: 100%;
            max-height: 100%;
            width: auto;
            height: auto;
        }
    }

    &__list {
        padding-left: 0;
        margin-bottom: 0;
        display: flex;
        flex-wrap: wrap;
        gap: 4.8rem;

        @media (max-width: $md2+px) {
            gap: 3rem 1.4rem;
        }

        @media (max-width: $md3+px) {
            gap: 20px;
        }

        & > li {
            flex: 0 1 calc((100% / 6) - (4.8rem * 5 / 6));
            text-align: center;

            @media (max-width: $md2+px) {
                flex: 0 1 calc((100% / 3) - (1.4rem * 2 / 3));
            }

            @media (max-width: $md3+px) {
                flex: 0 1 100%;
                display: flex;
                gap: 12px;
                text-align: left;
            }
        }
    }

    &__list-img {
        height: 0;
        padding-bottom: 72.16%;
        border-radius: 1rem;
        overflow: hidden;
        margin-bottom: 2.6rem;

        @media (max-width: $md3+px) {
            padding-bottom: 0;
            margin-bottom: 0;
            flex: 0 0 auto;
            width: 60px;
            height: 44px;
        }
    }

    &__list-title {
        font-size: 1.8rem;
        line-height: 2.1rem;
        margin-bottom: 1.8rem;

        @media (max-width: $md3+px) {
            font-size: 14px;
            line-height: 16px;
            margin-bottom: 10px;
        }
    }

    &__list-text {
        font-size: 1.6rem;
        line-height: 2.2rem;
        color: $textColorSecondary;

        @media (max-width: $md3+px) {
            font-size: 14px;
            line-height: 20px;
        }
    }
}

.what-we-offer {

    &__body {
    }

    &__list {
        display: flex;
        padding-left: 0;
        margin-bottom: 0;
        flex-wrap: wrap;
        position: relative;

        @media (max-width: $md3+px) {
            display: block;
        }

        & > li {

            @media (min-width: 992px) {
                
                flex: 0 1 33.3333333%;

                &:nth-child(-n + 3) {
                    padding-top: 0;

                    &::before {
                        top: 0;
                        transform: translate(50%, 0);
                        height: calc(100% - 4rem);
                    }
                }

                &:nth-last-child(-n + 3) {
                    border-bottom: none;
                    padding-bottom: 0;

                    &::before {
                        top: auto;
                        bottom: 0;
                        transform: translate(50%, 0);
                        height: calc(100% - 4rem);
                    }
                }

                &:nth-child(3n + 3) {
                    &::before {
                        display: none;
                    }
                }
            }

            @media (min-width: 768px) {
                padding: 4rem 2rem;
                position: relative;
                flex: 0 1 50%;
                border-bottom: 1px solid rgba(#ececec, 0.5);

                &:before {
                    position: absolute;
                    content: '';
                    top: 50%;
                    right: 0;
                    transform: translate(50%, -50%);
                    width: 1px;
                    height: calc(100% - 8rem);
                    background-color: rgba(#ececec, 0.5);
                }
                
            }

            @media (max-width: $md2+px) and (min-width: 768px) {
                &:nth-child(-n + 2) {
                    padding-top: 0;

                    &::before {
                        top: 0;
                        transform: translate(50%, 0);
                        height: calc(100% - 4rem);
                    }
                }

                &:nth-last-child(-n + 2) {
                    border-bottom: none;
                    padding-bottom: 0;

                    &::before {
                        top: auto;
                        bottom: 0;
                        transform: translate(50%, 0);
                        height: calc(100% - 4rem);
                    }
                }

                &:nth-child(2n + 2) {
                    &::before {
                        display: none;
                    }
                }
            }

            @media (max-width: $md3+px) {
                display: flex;
                align-items: center;
                padding-top: 1.2rem;
                padding-bottom: 1.2rem;

                &:first-child {
                    padding-top: 0;
                }

                &:last-child {
                    padding-bottom: 0;
                }

                &:not(:last-child) {
                    border-bottom: 1px solid rgba(#ececec, 0.5);
                }
            }
        }
    }

    &__list-icon {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 4rem;
        margin-bottom: 2rem;

        @media (max-width: $md3+px) {
            flex: 0 0 auto;
            height: 24px;
            width: 30px;
            margin-bottom: 0;
            margin-right: 12px;
        }

        & img,
        & svg {
            height: 100%;
            width: auto;
        }
    }

    &__list-text {
        text-align: center;
        padding: 0 1rem;
        font-size: 1.8rem;
        line-height: 2.1rem;

        @media (max-width: $md3+px) {
            padding: 0;
            text-align: left;
            font-size: 14px;
            line-height: 16px;
        }
    }
}
