.blog {
    &__head {
        margin-bottom: 5rem;

        @media (max-width: $md3+px) {
            margin-bottom: 20px;
        }
    }
}

.blog-list {
    padding-left: 0;
    margin-bottom: 4rem;

    @media (max-width: $md3+px) {
        margin-bottom: 2rem;
    }

    & > li {
        &:not(:last-child) {
            margin-bottom: 2rem;

            @media (max-width: $md3+px) {
                margin-bottom: 1rem;
            }
        }
    }
}

.blog-card {
    display: flex;

    @media (max-width: $md2+px) {
        border: 1px solid $borderColor;
        border-radius: 1rem;
        padding: 3rem 3rem 0;
        display: flex;
        gap: 3rem;
    }

    @media (max-width: $md3+px) {
        border: none;
        border-radius: 0;
        padding: 0;
        display: block;
    }

    &__img {
        flex: 0 0 40rem;
        min-height: 29rem;
        overflow: hidden;
        border-radius: 1rem 0 0 1rem;

        @media (max-width: $md2+px) {
            flex: 0 0 300px;
            height: 218px;
            min-height: auto;
            border-radius: 1rem;
        }

        @media (max-width: $md3+px) {
            height: 0;
            padding-bottom: 72.5%;
            border-radius: 1rem 1rem 0 0;
        }
    }

    &__inner {
        flex: 1 1 auto;
        display: flex;
        flex-direction: column;
        padding: 3rem 3rem 0;
        border: 1px solid $borderColor;
        border-left: none;
        border-radius: 0 1rem 1rem 0;

        @media (max-width: $md2+px) {
            padding: 0;
            border: none;
            border-radius: 0;
            min-height: 310px;
        }

        @media (max-width: $md3+px) {
            min-height: auto;
            padding: 2rem 2rem 0;
            border: 1px solid $borderColor;
            border-top: none;
            border-radius: 0 0 1rem 1rem;
            display: block;
        }
    }

    &__title {
        font-weight: 500;
        font-size: 1.8rem;
        line-height: 2.1rem;
        margin-bottom: 1.6rem;
        color: $mainColor;

        @media (max-width: $md3+px) {
            font-size: 14px;
            line-height: 20px;
            margin-bottom: 1rem;
        }
    }

    &__text {
        margin-bottom: 3.8rem;
        color: $textColor;

        @media (max-width: $md2+px) {
            margin-bottom: 2rem;
        }

        @media (max-width: $md3+px) {
            margin-bottom: 14px;
        }

        & > *:last-child {
            margin-bottom: 0;
        }

        &.text-content {
            line-height: 2.8rem;

            @media (max-width: $md3+px) {
                line-height: 26px;
            }
        }
    }

    &__bottom {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 2rem;
        padding: 1.6rem 0;
        border-top: 1px solid rgba($borderColor, 0.5);

        @media (max-width: $md2+px) {
            margin-left: -330px;
            margin-top: auto;
        }

        @media (max-width: $md3+px) {
            margin-left: 0;
            flex-direction: column;
        }

        & .btn-default {
            @media (max-width: $md3+px) {
                width: 100%;
            }
        }
    }

    &__meta {
        display: flex;
        gap: 2rem;
        font-size: 1.4rem;
        line-height: 1.21em;
        color: $textColorSecondary;

        @media (max-width: $md3+px) {
            gap: 1rem;
            flex-wrap: wrap;
            justify-content: space-between;
            font-size: 13px;
            line-height: 15px;
        }
    }

    &__meta-item {
        display: flex;
        align-items: center;

        &:not(:last-child) {
            @media (min-width: 768px) {
                position: relative;
                padding-right: 2rem;

                &:after {
                    position: absolute;
                    content: "";
                    top: 50%;
                    right: 0;
                    transform: translate(50%, -50%);
                    width: 1px;
                    height: 4rem;
                    background-color: $borderColor;
                    opacity: 0.5;
                }
            }
        }

        & img,
        & svg {
            flex: 0 0 auto;
            margin-right: 0.8rem;
            width: 1.6rem;
            height: auto;
            transition: all 0.3s ease;
            opacity: 0.6;

            @media (max-width: $md3+px) {
                width: 14px;
                margin-right: 10px;
            }
        }
    }
}
