.card-detail-head {
    display: flex;
    flex-wrap: wrap;
    gap: 3rem;
    margin-bottom: 5rem;
    align-items: center;

    @media (max-width: $md2+px) {
        gap: 20px;
    }

    @media (max-width: $md3+px) {
        margin-bottom: 20px;
        gap: 12px;
    }

    &__title {
        margin-bottom: 0;

        @media (max-width: $md2+px) {
            flex: 0 1 100%;
        }
    }

    & .card__state-icons {
        position: static;
        display: flex;

        & > li {
            &:not(:last-child) {
                margin-right: -0.4rem;
                margin-bottom: 0;
            }
        }

        & .card__state-tooltipe {
            right: auto;
            left: 0;
        }
    }

    & .card__star {
        position: static;
        margin-left: auto;
        transform: translate(0);
    }
}

.car-detail-grid {
    display: flex;
    gap: 4rem;
    min-width: 0;

    @media (max-width: $md2+px) {
        flex-direction: column;
        gap: 0;
    }

    &__col-1 {
        flex: 1 1 auto;
        min-width: 0;

        @media (max-width: $md2+px) {
            margin-bottom: 70px;

            & > *:not(:last-child),
            & div[data-da] > *:not(:last-child) {
                margin-bottom: 30px;
            }
        }

        @media (max-width: $md3+px) {
            margin-bottom: 30px;
            & > *:not(:last-child),
            & div[data-da] > *:not(:last-child) {
                margin-bottom: 20px;
            }
        }
    }

    &__col-2 {
        flex: 0 0 33rem;

        @media (max-width: $md2+px) {
            flex: 0 1 100%;

            & > *:not(:last-child),
            & div[data-da] > *:not(:last-child) {
                margin-bottom: 30px;
            }
        }

        @media (max-width: $md3+px) {
            & > *:not(:last-child),
            & div[data-da] > *:not(:last-child) {
                margin-bottom: 20px;
            }
        }
    }

    &__col-3 {
        flex: 0 0 37rem;

        & > *:not(:last-child),
        & div[data-da] > *:not(:last-child) {
            margin-bottom: 2rem;
        }

        @media (max-width: $md2+px) {
            flex: 0 1 100%;
            margin-bottom: 7rem;
        }

        @media (max-width: $md3+px) {
            margin-bottom: 30px;
        }
    }

    &__tables-wrap {
        @media (max-width: $md2+px) {
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;

            & > .column {
                flex: 0 1 calc(50% - 10px);
            }
        }

        @media (max-width: $md3+px) {
            margin-bottom: 0px;
            display: block;
        }
    }

    &__row {
        &:not(:last-child) {
            margin-bottom: 7rem;

            @media (max-width: $md3+px) {
                margin-bottom: 30px;
            }
        }
    }

    &__title {
        margin-bottom: 4rem;

        @media (max-width: $md3+px) {
            margin-bottom: 20px;
        }
    }
}

.accordion {
    padding-left: 0;
    margin-bottom: 0;

    & > li {
        position: relative;

        &:not(:first-child) {
            padding-top: 2.4rem;
        }
        &:not(:last-child) {
            padding-bottom: 2.4rem;

            &:before {
                position: absolute;
                content: "";
                left: 0;
                bottom: 0;
                height: 1px;
                width: 100%;
                background-color: $borderColor;
            }
        }
    }

    &__title {
        transition: all 0.3s ease;
        cursor: pointer;
        font-weight: 700;
        font-size: 1.4rem;
        line-height: 1.21em;
        text-transform: uppercase;
        margin-bottom: 0;
        position: relative;

        &.active {
            color: $mainColor;

            &:before {
                transform: translateY(-50%) scale(1, -1);
            }
        }

        @media (min-width: 992px) {
            &:hover {
                opacity: 0.7;
            }
        }

        &:before {
            font-family: "icomoon" !important;
            position: absolute;
            content: "\e93f";
            top: 50%;
            -webkit-transform: translateY(-50%);
            -ms-transform: translateY(-50%);
            transform: translateY(-50%);
            right: 0;
            -webkit-transition: -webkit-transform 0.3s ease;
            transition: -webkit-transform 0.3s ease;
            -o-transition: transform 0.3s ease;
            transition: transform 0.3s ease;
            transition: transform 0.3s ease, -webkit-transform 0.3s ease;
            font-size: 0.6rem;
        }
    }

    &__text {
        padding-top: 1rem;

        & > *:last-child {
            margin-bottom: 0;
        }
    }
}

.simple-table-list {
    padding-left: 0;
    margin-bottom: 0;

    & > li {
        display: flex;
        justify-content: space-between;
        font-size: 1.4rem;
        line-height: 1.29em;
        background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjAiIGhlaWdodD0iMjAiIHZpZXdCb3g9IjAgMCAyMCAyMCIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPGNpcmNsZSBjeD0iMTAiIGN5PSIxMCIgcj0iNSIgZmlsbD0iI0Q5RDlEOSIvPgo8L3N2Zz4K);
        background-size: 2px;
        background-repeat: repeat-x;
        background-position: left 0 bottom 0.2rem;

        @media (max-width: $md3+px) {
            font-size: 13px;
            line-height: 14px;
        }

        &:not(:last-child) {
            margin-bottom: 1.4rem;

            @media (max-width: $md3+px) {
                margin-bottom: 10px;
            }
        }

        & p {
            margin-bottom: 0;
            padding-left: 1rem;
            background-color: #fff;

            & strong {
                font-weight: 700;

                @media (min-width: 768px) {
                    font-size: 1.6rem;
                    line-height: 1.1875em;
                }
            }
        }

        & label {
            color: $textColorSecondary;
            display: inline-block;
            padding-right: 1rem;
            background-color: #fff;
        }
    }
}

.info-box {
    display: flex;
    align-items: center;

    &__img {
        flex: 0 0 auto;
        margin-right: 2rem;

        @media (max-width: $md3+px) {
            margin-right: 10px;
        }

        & img,
        & svg {
            color: $mainColor;
            width: 3rem;
            height: auto;

            @media (max-width: $md3+px) {
                width: 20px;
            }
        }
    }

    &__text {
        font-size: 1.4rem;
        line-height: 1.29em;
        text-transform: uppercase;

        @media (max-width: $md3+px) {
            font-size: 13px;
            line-height: 16px;
        }
    }

    &--unauthorized {
        background: #fff3f3;
        padding: 1.5rem 2rem 1.5rem 2rem;

        & .info-box__img svg {
            color: $dangerColor;
        }
    }
}

.calculator {
    &__final-bid {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 4rem;

        @media (max-width: $md3+px) {
            gap: 32px;
        }

        & label {
            font-size: 1.6rem;
            line-height: 1.12em;

            @media (max-width: $md3+px) {
                font-size: 14px;
                line-height: 17px;
            }
        }

        & .input {
            height: 5rem;
            width: 16.5rem;
            font-weight: 700;
            font-size: 2rem;
            padding: 1rem 2rem;

            @media (max-width: $md2+px) {
                width: 295px;
            }
            @media (max-width: $md3+px) {
                width: 130px;
                font-size: 16px;
                line-height: 19px;
                height: 40px;
            }
        }
    }

    &__list {
    }

    &__final-price {
        display: flex;
        align-items: center;
        justify-content: space-between;

        & label {
            font-size: 1.6rem;
            line-height: 1.12em;

            @media (max-width: $md3+px) {
                font-size: 14px;
                line-height: 17px;
            }
        }

        & p {
            font-weight: 700;
            font-size: 2rem;
            line-height: 1.2em;
            margin-bottom: 0;

            @media (max-width: $md3+px) {
                font-size: 16px;
                line-height: 19px;
            }
        }
    }
}

.box {
    position: relative;
    padding: 4rem;

    @media (max-width: $md3+px) {
        padding: 2rem;
    }

    &__border {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 1;
    }

    &__inner {
        position: relative;
        z-index: 2;
    }

    &__title {
        margin-bottom: 2rem;

        @media (max-width: $md3+px) {
            margin-bottom: 16px;
        }
    }

    &__body {
    }

    &__row {
        &:not(:last-child) {
            padding-bottom: 3rem;
            margin-bottom: 3rem;
            border-bottom: 1px solid $borderColor;

            @media (max-width: $md3+px) {
                padding-bottom: 2rem;
                margin-bottom: 2rem;
            }
        }
    }
}

.warning-box {
    background-color: $dangerColor;
    color: #fff;
    padding: 2rem 3rem;

    @media (max-width: $md3+px) {
        padding: 20px;
    }

    &__text {
        &.text-content {
            font-size: 1.6rem;
            line-height: 1.1875em;

            @media (max-width: $md3+px) {
                font-size: 14px;
                line-height: 17px;
            }
        }
    }
}

.buy-now {
    &__price {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 3rem;

        @media (max-width: $md3+px) {
            margin-bottom: 20px;
        }

        & label {
            font-size: 1.6rem;
            line-height: 1.12em;

            @media (max-width: $md3+px) {
                font-size: 14px;
                line-height: 17px;
            }
        }

        & p {
            font-weight: 700;
            font-size: 2rem;
            line-height: 1.2em;
            margin-bottom: 0;

            @media (max-width: $md3+px) {
                font-size: 16px;
                line-height: 19px;
            }
        }
    }

    &__buttons {
        display: flex;
        flex-wrap: wrap;
        gap: 2rem;
    }

    &__btn {
        flex: 1 1 auto;
    }
}

.set-alert {
    position: relative;

    &__border {
        position: absolute;
        top: 0;
        right: 0;
        width: calc(100% + 1rem);
        height: 100%;
        z-index: 1;

        @media (max-width: $md2+px) {
            width: 100%;
        }

        & svg path {
            stroke: $dangerColor;
        }
    }

    &__body {
        position: relative;
        z-index: 2;
        padding: 4rem;

        @media (max-width: $md3+px) {
            padding: 20px;
        }
    }

    &__title {
        color: $dangerColor;
        font-weight: 700;
        font-size: 2rem;
        line-height: 1.2em;
        margin-bottom: 2rem;

        @media (max-width: $md3+px) {
            font-size: 16px;
            line-height: 19px;
            margin-bottom: 14px;
        }
    }

    &__text {
        margin-bottom: 3rem;

        @media (max-width: $md3+px) {
            margin-bottom: 20px;
        }

        &.text-content {
            font-size: 1.4rem;
            line-height: 1.43em;
            color: $textColorSecondary;

            @media (max-width: $md3+px) {
                font-size: 13px;
                line-height: 18px;
            }

            & > *:last-child {
                margin-bottom: 0;
            }
        }
    }

    & .input {
        height: 4.8rem;
        font-size: 1.6rem;
        line-height: 1.1875em;
        padding: 1rem 2rem;

        @media (max-width: $md3+px) {
            height: 38px;
            font-size: 14px;
            line-height: 17px;
        }
    }

    .iti .input {
        padding-left: 10rem !important;

        @media (max-width: $md3+px) {
            padding-left: 80px !important;
        }
    }

    & .iti__selected-flag {
        padding-left: 2rem;
    }

    & .select {
        height: 4.8rem;

        @media (max-width: $md3+px) {
            height: 38px;
        }

        & .select__value {
            min-height: 4.8rem;
            padding: 0.5rem 3rem 0.5rem 2rem;

            @media (max-width: $md3+px) {
                min-height: 38px;
            }

            & span {
                font-size: 1.6rem;
                line-height: 1.1875em;

                @media (max-width: $md3+px) {
                    font-size: 14px;
                    line-height: 17px;
                }
            }

            &::before {
                font-size: 6px;
            }
        }

        & .select__options {
            padding: 0 2rem 2rem;
            font-size: 1.6rem;
            line-height: 1.1875em;

            @media (max-width: $md3+px) {
                font-size: 14px;
                line-height: 17px;
                padding: 0 2rem 1rem;
            }
        }
    }
}

.won-box {
    position: relative;

    &__border {
        position: absolute;
        top: 0;
        right: 0;
        width: calc(100% + 1rem);
        height: 100%;
        z-index: 1;

        @media (max-width: $md2+px) {
            width: 100%;
        }

        & svg path {
            stroke: $mainColor;
            stroke-dasharray: 5 5 !important;

            @media (max-width: $md2+px) {
                stroke-dasharray: 8 8 !important;
            }

            @media (max-width: $md3+px) {
                stroke-dasharray: 0.1 8 !important;
            }
        }
    }

    &__img {
        position: absolute;
        top: 0;
        right: 0;
        height: 100%;
        z-index: 2;
        display: flex;
        align-items: center;
        overflow: hidden;
        border-radius: 0 1rem 4rem 0;

        & img {
            height: 96%;
            width: auto;
            transform: translateX(39%);

            @media (max-width: $md2+px) and (min-width: 768px) {
                transform: translate(0);
            }
        }
    }

    &__body {
        position: relative;
        z-index: 3;
        padding: 4rem;

        @media (max-width: $md3+px) {
            padding: 20px;
        }
    }

    &__title {
        font-weight: 700;
        font-size: 2rem;
        line-height: 1.2em;
        max-width: 18.8rem;
        margin-bottom: 2rem;

        @media (max-width: $md2+px) {
            max-width: none;
        }

        @media (max-width: $md3+px) {
            font-size: 16px;
            line-height: 19px;
            max-width: 150px;
            margin-bottom: 10px;
        }
    }

    &__text {
        font-size: 1.6rem;
        line-height: 1.12em;

        @media (max-width: $md3+px) {
            font-size: 14px;
            line-height: 17px;
        }

        & a {
            color: $mainColor;
        }
    }
}

.contact-box {
    &__form {
        margin-bottom: 3rem;

        @media (max-width: $md3+px) {
            margin-bottom: 20px;
        }
    }

    &__info {
        & > p {
            font-size: 1.6rem;
            line-height: 1.12em;
            margin-bottom: 2rem;

            @media (max-width: $md3+px) {
                font-size: 14px;
                line-height: 17px;
                margin-bottom: 10px;
            }
        }
    }

    &__phones {
        display: flex;
        gap: 1.4rem 3rem;
        flex-wrap: wrap;

        @media (max-width: $md3+px) {
            gap: 10px 20px;
        }

        & > * {
            margin: 0 !important;

            @media (max-width: $md3+px) {
                font-size: 18px;
                line-height: 22px;
            }
        }
    }

    & .input {
        height: 4.8rem;
        font-size: 1.6rem;
        line-height: 1.1875em;
        padding: 1rem 2rem;

        @media (max-width: $md3+px) {
            height: 38px;
            font-size: 14px;
            line-height: 17px;
        }
    }

    .iti .input {
        padding-left: 10rem !important;

        @media (max-width: $md3+px) {
            padding-left: 80px !important;
        }
    }

    & .iti__selected-flag {
        padding-left: 2rem;
    }

    & .select {
        height: 4.8rem;

        @media (max-width: $md3+px) {
            height: 38px;
        }

        & .select__value {
            min-height: 4.8rem;
            padding: 0.5rem 3rem 0.5rem 2rem;

            @media (max-width: $md3+px) {
                min-height: 38px;
            }

            & span {
                font-size: 1.6rem;
                line-height: 1.1875em;

                @media (max-width: $md3+px) {
                    font-size: 14px;
                    line-height: 17px;
                }
            }

            &::before {
                font-size: 6px;
            }
        }

        & .select__options {
            padding: 0 2rem 2rem;
            font-size: 1.6rem;
            line-height: 1.1875em;

            @media (max-width: $md3+px) {
                font-size: 14px;
                line-height: 17px;
                padding: 0 2rem 1rem;
            }
        }
    }

    & .textarea {
        height: 9rem;
        padding: 1.4rem 2rem;
        font-size: 1.6rem;
        line-height: 1.1875em;

        @media (max-width: $md3+px) {
            height: 8rem;
            font-size: 14px;
            line-height: 17px;
            padding: 11px 20px;
        }
    }
}
