.vehicle-type {
    &__title {
    }

    &__list {
        padding-left: 0;
        margin-bottom: 0;
        display: flex;
        flex-wrap: wrap;
        gap: 2rem;

        @media (max-width: $md3+px) {
            display: block;
        }

        & > li {
            flex: 0 1 calc(16.6666667% - (2rem * 5 / 6));

            @media (max-width: $md2+px) {
                flex: 0 1 calc(33.3333333% - (2rem * 2 / 3));
            }

            @media (max-width: $md3+px) {
                &:not(:last-child) {
                    margin-bottom: 10px;
                }
            }
        }
    }
}

.vehicle-type-card {
    opacity: 1 !important;
    border: 1px solid #ececec;
    border-radius: 1rem;
    display: block;
    height: 100%;
    overflow: hidden;
    transition: all 0.3s ease;
    position: relative;

    @media (min-width: 992px) {
        &:hover {
            border-color: $mainColor;

            & .vehicle-type-card__title {
                color: $mainColor;
            }

            & .vehicle-type-card__img {
                & img {
                    filter: grayscale(0%);
                }
            }
        }

        &:not(:hover) {
            & .vehicle-type-card__hover svg path {
                transition: all 0.3s ease !important;
                fill: #f9f9f9;
            }
        }
    }

    @media (max-width: $md3+px) {
        min-height: 50px;
        display: flex;
        align-items: center;
    }

    &__img-wrap {
        padding-top: 2.4rem;
        position: relative;
        margin-bottom: 2rem;

        @media (max-width: $md3+px) {
            margin-bottom: 0;
            flex: 0 0 auto;
            margin-right: 10px;
            padding-top: 0;
            width: 70px;
        }
    }

    &__hover {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1;
        width: 100%;
        transition: all 0.3s ease;

        @media (max-width: $md3+px) {
            width: 90px;
        }

        & img,
        & svg {
            width: 91.66%;
            height: auto;
            transition: all 0.3s ease !important;
            & path {
                transition: all 0.3s ease !important;

                @media (max-width: $md2+px) {
                    fill: #f9f9f9;
                }
            }
        }
    }

    &__img {
        position: relative;
        z-index: 2;
        display: flex;
        align-items: center;
        height: 10.3rem;
        justify-content: center;

        & img {
            max-width: 100%;
            max-height: 100%;
            width: auto;
            height: auto;
            transition: all 0.3 ease;
            filter: grayscale(100%);
        }

        @media (max-width: $md3+px) {
            height: 38px;
            justify-content: flex-end;
            width: 58px;
            margin-left: auto;
        }
    }

    &__bottom {
        padding-left: 3rem;
        padding-right: 3rem;
        padding-bottom: 3rem;

        @media (max-width: $md3+px) {
            align-items: center;
            flex: 1 1 auto;
            padding: 0;
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 1rem 2rem 1rem 0;
        }
    }

    &__title {
        font-weight: 500;
        font-size: 1.8rem;
        line-height: 2.1rem;
        transition: all 0.3s ease;
        width: 100%;
        text-align: center;
        padding-top: 2.6rem;
        border-top: 1px solid rgba(#ececec, 0.5);

        @media (max-width: $md3+px) {
            font-size: 14px;
            line-height: 16px;
            padding: 0;
            border: none;
            width: auto;
            text-align: left;
            margin-right: 10px;
        }
    }

    &__count {
        position: absolute;
        top: 1.4rem;
        right: 1.4rem;
        z-index: 6;
        font-size: 1.4rem;
        line-height: 1.21em;
        color: $textColorSecondary;

        @media (max-width: $md3+px) {
            font-size: 13px;
            line-height: 15px;
            position: static;
            flex: 0 0 auto;
        }
    }
}

.border-box {
    border: 1px solid #ececec;
    border-radius: 1rem;
    padding: 3rem;

    @media (max-width: $md3+px) {
        padding: 2rem;
    }
}

.search-vehicles {
    &__content {
        display: flex;
        flex-wrap: wrap;
        gap: 2rem;

        @media (max-width: $md3+px) {
            padding: 2rem;
            border: 1px solid #ececec;
            border-radius: 1rem;
            display: block;
        }

        & > * {
            flex: 0 1 calc(25% - (2rem * 3 / 4));

            @media (max-width: $md2+px) {
                flex: 0 1 calc(50% - 1rem);
            }

            @media (max-width: $md3+px) {
                flex: 0 1 100%;
            }
        }

        & .border-box {
            @media (max-width: $md3+px) {
                padding: 0;
                border: none;

                &:last-child {
                    & .vehicle-list > li:last-child {
                        margin-bottom: 0;
                    }
                }
            }
        }
    }
}

.border-box {
}

.how-it-works {
    &__row-1 {
        background-color: #f9f9f9;
        margin-bottom: 7rem;
        padding: 7rem 0;

        @media (max-width: $md3+px) {
            padding: 30px 0;
            margin-bottom: 30px;
        }

        & .how-it-works__list-wrap {
            @media (max-width: $md2+px) {
                overflow-x: scroll;
                margin: -10px -30px 0;
                padding: 10px 30px 0;

                &::-webkit-scrollbar {
                    width: 0px;
                    height: 0px;
                }
            }

            @media (max-width: $md3+px) {
                margin-left: -20px;
                margin-right: -20px;
                padding-left: 20px;
                padding-right: 20px;
            }
        }

        & .how-it-works__list {
            display: flex;
            gap: 2rem;
            margin-bottom: 1.6rem;

            @media (max-width: $md3+px) {
                gap: 10px;
                margin-bottom: 10px;
            }

            & > li {
                flex: 0 1 calc(16.6666667% - (2rem * 5 / 6));

                @media (max-width: $md2+px) {
                    flex: 0 0 auto;
                }

                &:last-child {
                    @media (max-width: $md2+px) {
                        padding-right: 30px;
                    }

                    @media (max-width: $md3+px) {
                        padding-right: 20px;
                    }

                    & .how-it-works__list-text {
                        color: #fff;
                    }
                }
            }
        }

        & .how-it-works__list-item {
            position: relative;

            @media (max-width: $md2+px) {
                width: 240px;
            }
            @media (max-width: $md3+px) {
                width: 230px;
            }
        }

        & .how-it-works__list-layer-1 {
            & svg {
                width: 100%;
                height: auto;
            }
        }

        & .how-it-works__list-layer-2 {
            position: absolute;
            z-index: 2;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            padding: 5rem 2rem 3rem;

            padding: 30px 15px 20px;
        }

        & .how-it-works__list-desk {
            @media (max-width: $md3+px) {
                display: none;
            }
        }

        & .how-it-works__list-mob {
            @media (min-width: 768px) {
                display: none;
            }
        }

        & .how-it-works__list-label {
            position: absolute;
            width: 3.8rem;
            top: -5.2%;
            right: 1.2rem;

            @media (max-width: $md3+px) {
                width: 27px;
                top: -6.6%;
            }

            & svg,
            & img {
                width: 100%;
                height: auto;
            }
        }

        & .how-it-works__list-icon {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 3rem;
            margin-bottom: 2.2rem;

            @media (max-width: $md3+px) {
                height: 20px;
                margin-bottom: 10px;
            }

            & img,
            & svg {
                height: 100%;
                width: auto;
            }
        }

        & .how-it-works__list-text {
            text-align: center;
            font-weight: 400;
            font-size: 1.8rem;
            line-height: 2.1rem;
            max-width: 16.8rem;
            margin: 0 auto;

            @media (max-width: $md3+px) {
                font-size: 14px;
                line-height: 16px;
            }
        }
    }

    &__line {
        margin: 0 auto;
        width: 85.5%;
        transform: translateX(1px);

        @media (max-width: $md2+px) {
            width: 1319px;
            margin-left: 111px;
        }

        @media (max-width: $md3+px) {
            width: 1217px;
            margin-left: 107px;
        }

        & img {
            width: 100%;
            height: auto;
            display: block;
        }
    }

    &__row-2 {
        & .how-it-works__list-wrap {
        }

        & .how-it-works__list {
            flex-wrap: wrap;
            position: relative;
            gap: 6rem 0;

            @media (max-width: $md3+px) {
                display: block;
            }

            & > li {
                @media (min-width: 768px) {
                    flex: 0 1 33.3333333%;
                    padding-top: 1rem;
                    padding-bottom: 1rem;

                    &:not(:nth-child(3n + 3)) {
                        border-right: 1px solid rgba(#ececec, 0.5);
                    }
                }

                @media (max-width: $md3+px) {
                    
                    display: flex;
                    align-items: center;
                    padding-top: 1.2rem;
                    padding-bottom: 1.2rem;

                    &:first-child {
                        padding-top: 0;
                    }

                    &:last-child {
                        padding-bottom: 0;
                    }

                    &:not(:last-child) {
                        border-bottom: 1px solid rgba(#ececec, 0.5);
                    }
                }
            }

            @media (min-width: 768px) {
                &:before {
                    position: absolute;
                    content: "";
                    top: 50%;
                    left: 0;
                    width: 100%;
                    transform: translateY(-50%);
                    height: 1px;
                    background-color: rgba(#ececec, 0.5);
                }
            }
        }

        & .how-it-works__list-icon {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 4rem;
            margin-bottom: 2rem;

            @media (max-width: $md3+px) {
                height: auto;
                width: 24px;
                margin-bottom: 0;
                margin-right: 12px;
            }

            & img,
            & svg {
                height: 100%;
                width: auto;

                @media (max-width: $md3+px) {
                    height: auto;
                    width: 100%;
                }
            }
        }

        & .how-it-works__list-text {
            text-align: center;
            padding: 0 1rem;
            font-size: 1.8rem;
            line-height: 2.1rem;

            @media (max-width: $md3+px) {
                padding: 0;
                text-align: left;
                font-size: 14px;
                line-height: 16px;
            }
        }
    }

    &__title {
        margin-bottom: 4rem;
        @media (max-width: $md3+px) {
            margin-bottom: 20px;
        }
    }

    &__list-wrap {
        position: relative;
    }

    &__list {
        padding-left: 0;
        margin-bottom: 0;
        display: flex;
    }

    &__list-icon {
        height: 3rem;
        margin-bottom: 2rem;

        @media (max-width: $md3+px) {
            height: 20px;
            margin-bottom: 0;
        }
        & img {
            height: 100%;
            width: auto;
        }
    }

    &__list-text {
    }

    &__img-decor {
        position: absolute;
    }

    &__img {
        flex: 0 0 auto;
        height: 100%;

        @media (max-width: $md2+px) {
            height: auto;
            margin: 0 -50px;
        }

        @media (max-width: $md3+px) {
            margin: 0 -20px;
        }

        & img {
            height: 100%;
            width: auto;

            @media (max-width: $md2+px) {
                width: 100%;
                height: auto;
            }
        }
    }
}

.question {
    position: relative;

    &__bg {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 1;
        background-color: $secondColor;
        overflow: hidden;

        & img {
            position: absolute;
            top: 0;
            left: 50%;
            transform: translateX(-50%);
            height: 100%;
            width: 100%;
            object-fit: cover;
        }
    }

    &__body {
        position: relative;
        z-index: 2;
        color: #fff;
        padding-top: 7rem;
        padding-bottom: 8rem;

        @media (max-width: $md3+px) {
            padding-top: 3rem;
            padding-bottom: 4rem;
        }
    }

    &__head {
        display: flex;
        align-items: center;
        margin-bottom: 5rem;

        @media (max-width: $md2+px) {
            justify-content: space-between;
        }

        @media (max-width: $md3+px) {
            display: block;
            margin-bottom: 30px;
        }
    }

    &__title {
        margin-bottom: 0;
        margin-right: 11.8rem;
        font-weight: 500;
        font-size: 4.6rem;
        line-height: 5.4rem;

        @media (max-width: $md2+px) {
            flex: 0 1 50%;
            margin-right: 24px;
            max-width: 34.2rem;
        }

        @media (max-width: $md3+px) {
            margin-bottom: 20px;
            max-width: 182px;
            font-size: 26px;
            line-height: 31px;
        }
    }

    &__label {
        display: flex;
        align-items: center;
        font-size: 1.6rem;
        line-height: 1.18em;

        @media (max-width: $md3+px) {
            font-size: 14px;
            line-height: 17px;
        }

        & img {
            flex: 0 0 auto;
            width: auto;
            height: 2.4rem;
            margin: 0 0.5rem;

            @media (max-width: $md3+px) {
                height: 18px;
            }
        }
    }

    &__form {
        display: flex;
        background-color: #fff;
        border-radius: 3.2rem;
        overflow: hidden;

        @media (max-width: $md2+px) {
            flex-wrap: wrap;
            background-color: transparent;
            gap: 2rem 0;
        }

        @media (max-width: $md3+px) {
            gap: 0;
            background-color: #fff;
            border-radius: 16px;
        }

        & .input {
            border: none;
        }
    }

    &__form-item {
        flex: 1 1 auto;

        @media (max-width: $md2+px) {
            flex: 0 1 calc(50%);
        }

        @media (max-width: $md3+px) {
            flex: 0 1 100%;
        }
    }

    &__form-item-1 {
        border-right: 1px solid #f2f2f2;

        @media (max-width: $md2+px) {
            & .input {
                border-radius: 3.2rem 0 0 3.2rem;
            }
        }

        @media (max-width: $md3+px) {
            border-right: none;
            border-bottom: 1px solid #f2f2f2;
        }
    }

    &__form-item-2 {

        @media (max-width: $md2+px) {
            & .input {
                border-radius: 0 3.2rem 3.2rem 0;
            }
        }
    }

    &__form-item-3 {
        flex: 0 0 auto;

        @media (max-width: $md2+px) {
            flex: 0 1 100%;
        }
    }

    &__submit {
        width: 16.7rem;

        &.btn-default {
            min-width: 16.7rem;
            margin-right: -1px;

            @media (max-width: $md3+px) {
                margin-right: 0;
                border-radius: 0;
            }
        }

        @media (max-width: $md2+px) {
            width: 100%;
        }
    }
}

.popular-questions {
    &__head {
        display: flex;
        justify-content: space-between;
        margin-bottom: 3rem;

        @media (max-width: $md2+px) {
            align-items: center;
        }

        @media (max-width: $md3+px) {
            margin-bottom: 12px;
        }
    }

    &__title {
        margin-bottom: 0;
    }

    &__link {
        &.btn-default {
            min-height: 4.8rem;
            min-width: 11.5rem;
            padding: 1rem 2rem;
            font-size: 1.6rem;
            line-height: 1.18em;

            @media (max-width: $md3+px) {
                min-width: 75px;
                min-height: 38px;
                padding: 5px 8px;
                font-size: 14px;
                line-height: 17px;
            }
        }
    }

    &__list {
        padding-left: 0;
        margin-bottom: 0;

        & > li {
            position: relative;

            &:not(:last-child) {
                padding-bottom: 2.4rem;
                margin-bottom: 2.4rem;

                @media (max-width: $md3+px) {
                    padding-bottom: 20px;
                    margin-bottom: 20px;
                }

                &:before {
                    position: absolute;
                    content: "";
                    left: 0;
                    bottom: 0;
                    height: 1px;
                    width: 100%;
                    background: #eaebec;
                }
            }

            &:after {
                position: absolute;
                content: '';
                top: -2.4rem;
                left: 50%;
                width: calc(100% + 6rem);
                height: calc(100% + 2.4rem);
                transform: translateX(-50%);
                background-color: #F9F9F9;
                z-index: -1;
                opacity: 0;
                transition: all .3s ease;

                @media (max-width: $md3+px) {
                    top: -20px;
                    width: calc(100% + 4rem);
                    height: calc(100% + 2rem);
                }
            }

            &.active {
                &:after {
                    opacity: 1;
                }
            }

            &:first-child {
                &::after {
                    top: -3rem;
                    height: calc(100% + 3rem);

                    @media (max-width: $md3+px) {
                        top: -2rem;
                    height: calc(100% + 2rem);
                    }
                }
            }

            &:last-child {
                &::after {
                    height: calc(100% + 2.4rem + 3rem);

                    @media (max-width: $md3+px) {
                        height: calc(100% + 2rem + 2rem);
                    }
                }
            }
        }
    }

    &__list-title {
        cursor: pointer;
        position: relative;
        font-weight: 500;
        font-size: 1.8rem;
        line-height: 2.1rem;
        transition: all 0.3s ease;
        padding-right: 2.5rem;

        @media (max-width: $md3+px) {
            font-size: 14px;
            line-height: 16px;
        }

        &:before {
            font-family: "icomoon" !important;
            position: absolute;
            content: "\e940";
            top: 50%;
            transform: translateY(-50%);
            right: 0;
            display: inline-block;
			font-size: 0.6rem;
			padding-top: 0.2rem;
			color: $mainColor;
			display: flex;
			justify-content: center;
			align-items: center;
			height: 2.4rem;
			width: 2.4rem;
			border-radius: 50%;
			border: 1px solid $borderColor;
            transition: background-color, border-color 0.3s ease 0s;

            @media (max-width: $md3+px) {
				width: 20px;
				height: 20px;
				font-size: 0.5rem;
			}
        }

        &.active {
            color: $mainColor;

            &:before {
                background-color: $mainColor;
				border-color: $mainColor;
				transform: translateY(-50%) scale(1, -1);
				color: #fff
            }
        }

        @media (min-width: 992px) {
            &:hover {
                color: $mainColor;
            }
        }
    }

    &__list-text {
        padding-top: 1rem;
        & > *:last-child {
            margin-bottom: 0;
        }
    }
}
