.how-to-buy {

    &__head {
        margin-bottom: 6rem;

        @media (max-width: $md2+px) {
            margin-bottom: 40px;
        }

        @media (max-width: $md3+px) {
            margin-bottom: 30px;
        }
    }

    &__title {
        margin-bottom: 3rem;

        @media (max-width: $md3+px) {
            margin-bottom: 20px;
        }
    }

    &__head-row {
        display: flex;
        gap: 4rem 14.7rem;
        align-items: flex-start;

        @media (max-width: $md2+px) {
            flex-direction: column;
        }

        @media (max-width: $md3+px) {
            gap: 20px;
        }
    }

    &__text {
        flex: 1 1 auto;

        & > *:last-child {
            margin-bottom: 0;
        }
    }

    &__btn {
        flex: 0 0 auto;
        width: 33rem;

        @media (max-width: $md3+px) {
            width: 100%;
        }
    }

    &__body {
        display: flex;
        flex-direction: column;
        gap: 2rem;

        @media (max-width: $md3+px) {
            gap: 10px;
        }
    }

    &__item {
        position: relative;
        padding-right: 5.6rem;

        @media (max-width: $md2+px) {
            padding-right: 3.4rem;
        }

        @media (max-width: $md3+px) {
            padding-right: 20px;
        }

        &:not(:last-child) {
            &:before {
                position: absolute;
                content: '';
                top: 1.7rem;
                right: 0;
                width: 1px;
                transform: translateX(50%);
                background-color: #DBDBDB;
                height: calc(100% - 1.7rem + 1rem);

                @media (max-width: $md3+px) {
                    top: 12px;
                    height: calc(100% - 12px + 4px);
                }
            }
        }
    }

    &__item-dot {
        position: absolute;
        top: 0;
        right: 0;
        z-index: 2;
        transform: translateX(50%);
        width: 0.7rem;
        height: 0.7rem;
        border-radius: 50%;
        background-color: $mainColor;

        @media (max-width: $md3+px) {
            height: 5px;
            width: 5px;
        }
    }

    &__col {
        flex: 0 1 calc(50% - calc(9.8rem / 2));
        display: flex;
        flex-direction: column;
        gap: 4rem;

        @media (max-width: $md2+px) {
            flex: 0 1 auto;
        }

        @media (max-width: $md3+px) {
            gap: 20px;
        }
    }

    &__col--1 {
    }

    &__col--2 {
        @media (min-width: 992px) {
            padding-top: 4rem;
        }
    }
}

