.make-deposit {
    display: flex;

    @media (max-width: $md2+px) {
        flex-direction: column;
        gap: 5rem;
    }

    @media (max-width: $md3+px) {
        gap: 30px;
    }

    &__col-1 {
        flex: 0 1 25.325%;
        padding-right: 6rem;

        @media (max-width: $md2+px) {
            display: none;
        }
    }

    &__col-2 {
        flex: 0 1 49.35%;

        @media (max-width: $md2+px) {
            flex: 0 1 auto;
        }
    }

    &__col-3 {
        @media (min-width: 992px) {
            padding-left: 6rem;
            flex: 0 1 25.325%;
        }
    }

    &__body {
        border-radius: 1rem;
        padding: 4rem;
        border: 1px solid $borderColor;

        @media (max-width: $md3+px) {
            padding: 20px;
        }
    }

    &__row {
        display: flex;
        flex-direction: column;
        gap: 3rem;

        @media (max-width: $md3+px) {
            gap: 20px;
        }

        &:not(:last-child) {
            margin-bottom: 4rem;

            @media (max-width: $md3+px) {
                margin-bottom: 2rem;
            }
        }

        &--with-line {
            &:not(:last-child) {
                margin-bottom: 4rem;
                padding-bottom: 4rem;
                border-bottom: 1px solid #ececec;

                @media (max-width: $md3+px) {
                    margin-bottom: 2rem;
                    padding-bottom: 2rem;
                }
            }
        }
    }

    &__head {
        position: relative;
        padding-bottom: 4rem;

        @media (max-width: $md3+px) {
            padding-bottom: 2rem;
        }

        &:before {
            position: absolute;
            content: "";
            left: 50%;
            bottom: 0;
            transform: translateX(-50%);
            width: calc(100% + 8rem);
            height: calc(100% + 4rem);
            z-index: 1;
            background-color: #f9f9f9;
            border-radius: 1rem 1rem 0 0;

            @media (max-width: $md3+px) {
                width: calc(100% + 4rem);
                height: calc(100% + 2rem);
            }
        }

        & > * {
            position: relative;
            z-index: 2;
        }
    }

    &__title {
        margin-bottom: 3.4rem;

        @media (max-width: $md3+px) {
            margin-bottom: 1.4rem;
        }

        &.mb-3 {
            margin-bottom: 3rem !important;

            @media (max-width: $md3+px) {
                margin-bottom: 1.6rem !important;
            }
        }
    }

    &__range {
    }

    &__number-of-vehicles {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 1.6rem;

        @media (max-width: $md3+px) {
            flex-direction: column;
            align-items: initial;
            justify-content: initial;
        }
    }

    &__label {
        font-weight: 500;
        font-size: 1.8rem;
        line-height: 2.1rem;

        @media (max-width: $md3+px) {
            font-size: 14px;
            line-height: 16px;
        }
    }

    &__number-of-vehicles-icons {
        padding-left: 0;
        margin-bottom: 0;
        display: flex;
        align-items: center;
        gap: 1rem;

        @media (max-width: $md3+px) {
            gap: 6.35px;
        }

        & > li {
            color: #c9cfd1;
            display: flex;
            justify-content: center;
            align-items: center;

            &.active {
                color: $mainColor;
            }
        }

        & svg,
        & img {
            width: 3rem;
            height: auto;

            @media (max-width: $md3+px) {
                width: 18px;
            }
        }
    }

    &__security {
        & .make-deposit__label {
            margin-bottom: 1.4rem;
        }
    }

    &__info-list {
        font-size: 1.6rem;
        line-height: 2.8rem;

        @media (max-width: $md3+px) {
            font-size: 14px;
            line-height: 26px;
        }

        &:last-child {
            margin-bottom: 0 !important;
        }

        @media (max-width: $md2+px) and (min-width: 768px) {
            display: flex;
            flex-wrap: wrap;
            gap: 30px;

            & > li {
                margin: 0 !important;
                flex: 0 1 calc(50% - 15px);
            }
        }
    }

    &__tabs {
    }

    &__tabs-nav {
        margin-bottom: 3rem;
        display: flex;
        flex-wrap: wrap;
        gap: 1rem;
        justify-content: center;

        @media (max-width: $md3+px) {
            margin-bottom: 20px;
        }
    }

    &__tabs-nav-item {
    }

    &__tabs-content {
    }

    &__tabs-content-inner {
        display: flex;
        flex-direction: column;
        gap: 4rem;

        @media (max-width: $md3+px) {
            gap: 20px;
        }
    }

    &__tabs-content-row {
        display: flex;
        flex-direction: column;
        gap: 3rem;

        @media (max-width: $md3+px) {
            gap: 20px;
        }
    }

    &__list {
        & .simple-table-list {
            & label,
            & p {
                background-color: #fff;
            }
        }
    }

    &__total {
        padding-top: 2.6rem;
        border-top: 1px solid $borderColor;
        display: flex;
        align-items: center;
        justify-content: space-between;

        & p {
            margin-bottom: 0;
            font-weight: 700;
            font-size: 2rem;
            line-height: 1.2em;

            @media (max-width: $md3+px) {
                font-size: 16px;
                line-height: 19px;
            }
        }
    }

    &__text {
        font-size: 1.6rem;
        line-height: 1.1875em;
        color: $textColorSecondary;
        max-width: 46.3rem;

        @media (max-width: $md3+px) {
            font-size: 14px;
            line-height: 17px;
        }
    }

    &__submit {
        &.btn-default {
            @media (max-width: $md3+px) {
                padding: 10px 16px;
            }
        }
    }
}

.make-deposit-nav-item {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    border-radius: 3.2rem;
    padding: 0.7rem 2.3rem;
    min-height: 4.4rem;
    font-weight: 500;
    font-size: 1.8rem;
    line-height: 2.1rem;
    border: 1px solid $borderColor;
    transition: all 0.3s ease;
    text-align: center;
    white-space: nowrap;
    gap: 1rem;
    opacity: 1 !important;
    cursor: pointer;

    @media (max-width: $md3+px) {
        min-height: 34px;
        padding: 5px 20px;
        font-size: 14px;
        line-height: 16px;
        width: 100%;
    }

    @media (min-width: 992px) {
        &:hover {
            background-color: $mainColor;
            color: #fff;

            & span {
                border-color: #fff;
                background-color: #fff;
                color: $mainColor;
            }

            & svg {
                color: #fff;
            }
        }
    }

    &--edit {
        margin-left: 2rem;

        @media (max-width: $md3+px) {
            margin-left: 10px;
        }
    }

    &--back {
        @media (max-width: $md2+px) {
            margin-right: auto;
        }

        & img,
        & svg {
            height: 0.7em !important;
            width: auto !important;
            margin-right: 0;
        }
    }

    & img,
    & svg {
        height: auto;
        width: 1em;
        flex: 0 0 auto;
        color: rgba($textColorSecondary, 0.5);
    }

    &.active,
    &.tab-active {
        border-color: $mainColor;
        color: $mainColor;
        background-color: transparent;

        & span {
            background-color: $mainColor;
            border-color: $mainColor;
            color: #fff;
        }

        & svg {
            color: $mainColor;
        }
    }

    &.inactive {
        pointer-events: none;
        background-color: transparent;
        border-color: #d6dbdc;
        color: $textColorSecondary;
    }

    & span {
        display: flex;
        justify-content: center;
        align-items: center;
        min-width: 3rem;
        height: 3rem;
        color: $textColorSecondary;
        border-radius: 100px;
        border: 1px solid $borderColor;
        margin-left: 1.4rem;
        transition: all 0.3s ease;
        font-size: 1.6rem;
        line-height: 1.9rem;
        margin-right: -1.9rem;
        padding: 0.2rem 0.3rem 0;

        @media (max-width: $md3+px) {
            height: 24px;
            min-width: 24px;
            margin-left: 10px;
            margin-right: -15px;
            font-size: 12px;
            line-height: 14px;
        }
    }

    &__icon {
        width: 3rem;
        height: 3rem;
        display: flex;
        justify-content: center;
        align-items: center;
        color: $textColorSecondary;
        margin: 0 auto 1rem;

        @media (max-width: $md3+px) {
            width: 26px;
            height: 26px;
        }

        & img,
        & svg {
            width: 100%;
            height: auto;
        }
    }

    &__title {
        font-weight: 700;
        font-size: 1.6rem;
        line-height: 1.1875em;

        @media (max-width: $md3+px) {
            font-size: 13px;
            line-height: 16px;
        }
    }
}

.cryptocurrency {
    &__icon {
        height: 5.4rem;
        width: 5.4rem;
        border-radius: 50%;
        border: 1px solid $borderColor;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 auto 1.6rem;

        @media (max-width: $md3+px) {
            height: 4rem;
            width: 4rem;
            margin-bottom: 10px;
        }

        & img,
        & svg {
            width: 16px;
            height: auto;
        }

        & span {
            position: absolute;
            top: 0;
            left: calc(100% + 0.5rem);
            font-size: 1.4rem;
            line-height: 1.6rem;
            color: #fff;
            padding: 0.3rem 0.8rem;
            background-color: $mainColor;
            border-radius: 0.6rem 0.6rem 0.6rem 0;

            @media (max-width: $md3+px) {
                left: calc(100% + 1rem);
                font-size: 12px;
                line-height: 14px;
            }
        }
    }

    &__text {
        text-align: center;
        font-size: 1.8rem;
        line-height: 3rem;
        margin: 0 auto;
        width: 100%;
        max-width: 41.8rem;

        @media (max-width: $md3+px) {
            font-size: 14px;
            line-height: 24px;
        }

        & strong {
            font-weight: 500;
        }
    }
}

.bank-wire-transfer {
    text-align: center;

    &__icon {
        height: 5.4rem;
        width: 5.4rem;
        border-radius: 50%;
        border: 1px solid $borderColor;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 auto 1.6rem;

        @media (max-width: $md3+px) {
            height: 4rem;
            width: 4rem;
            margin-bottom: 10px;
        }

        & img,
        & svg {
            width: 16px;
            height: auto;
        }
    }

    &__text {
        text-align: center;
        font-size: 1.8rem;
        line-height: 3rem;
        margin: 0 auto 2rem;
        width: 100%;
        max-width: 53.4rem;

        @media (max-width: $md3+px) {
            font-size: 14px;
            line-height: 24px;
        }

        & strong {
            font-weight: 500;
        }
    }

    &__sub-text {
        font-size: 1.4rem;
        line-height: 2rem;
        color: $textColorSecondary;
        margin: 0 auto;
        max-width: 35.8rem;

        @media (max-width: $md3+px) {
            font-size: 14px;
            line-height: 16px;
        }
    }
}
