.slider-btn {
    position: absolute;
    z-index: 5;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 4rem;
    width: 4rem;
    border-radius: 50%;
    color: #fff !important;
    cursor: pointer;
    background-color: $mainColor;
    font-size: 1.2rem;
    transition: all 0.3s ease;

    @media (max-width: $md3+px) {
        height: 20px;
        width: 20px;
        font-size: 8px;
    }


    @media (min-width: 992px) {
        &:hover {
            background-color: $hover;
        }
    }

    &.btn-prev {

        & i {
            transform: scale(-1, 1) translateX(0.07em);
        }
    }
    &.btn-next {
        & i {
            transform:  translateX(0.07em);
        }
    }
}