.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 47;
   // box-shadow: 0px 22px 24px rgba(32, 33, 34, 0.2);
    color: #fff;
    transition: transform .3s ease;
    &.header--hide {
        transform: translateY(-102%);
    }

    &__row-1 {
        background-color: #3e73cf;
        position: relative;
        z-index: 2;
        & .header__body {
            padding: 0.8rem 0;
            min-height: 9.2rem;
            transition: all 0.3s ease;

            @media (max-width: $md3+px) {
                min-height: 107px;
            }
        }
    }

    &__row-2 {
        transition: all 0.3s ease;
        background-color: #111f38;
        position: relative;
        z-index: 1;

        @media (max-width: $md2+px) {
            display: none;
        }
    }

    &__body {
        display: flex;
        align-items: center;

        @media (max-width: $md3+px) {
            justify-content: space-between;
            flex-wrap: wrap;
            gap: 12px 12px;
        }
    }

    &__logo {
        width: 100%;
        max-width: 20.7rem;
        margin-right: 6.3rem;
        transition: all 0.3s ease;

        & img,
        & svg {
            width: 100%;
            height: auto;
        }

        @media (max-width: $md2+px) {
            margin-right: 33px;
        }

        @media (max-width: $md3+px) {
            margin-right: 0;
            max-width: 100px;
        }

        @media (max-width: 374.98px) {
            max-width:76px;
            display: flex;
            justify-content: center;
            align-items: center;
            align-self: center;
        }
    }

    &__search {
        flex: 1 1 auto;
        margin-right: 5rem;

        @media (max-width: $md2+px) {
            margin-right: 20px;
        }

        @media (max-width: $md3+px) {
            order: 1;
            flex: 0 1 100%;
            margin-right: 0;
        }
    }

    &__language {
        margin-right: 5rem;

        @media (max-width: $md2+px) {
            display: none;
        }
    }

    &__buttons-group {
        display: flex;
        align-items: center;

        @media (max-width: $md2+px) {
            margin-left: auto;
        }
    }

    &__btn {
        display: flex;
        align-items: center;
        min-height: 4.4rem;
        gap: 1rem;
        padding: 1rem 3rem;
        font-size: 1.6rem;
        line-height: 1.18em;
        border-radius: 200px;
        border: 1px solid rgba(#fff, 0.4);

        @media (max-width: $md3+px) {
            min-height: 36px;
            font-size: 12px;
            line-height: 14px;
            gap: 6px;
            padding: 10px 16px;
        }

        @media (min-width: 992px) {
            &:hover {
                background-color: #fff;
                border-color: #fff;
                color: $textColor;

                & svg {
                    color: $mainColor;
                }
            }
        }

        & img,
        & svg {
            height: 1.8rem;
            width: auto;
            color: #fff;

            @media (max-width: $md3+px) {
                height: 14px;
                
            }

            @media (max-width: 389.98px)  {
                display: none;
            }
        }

        &--left {
            border-radius: 200px 0 0 200px;
        }
        &--right {
            border-left: none;
            border-radius: 0 200px 200px 0;

            & img,
            & svg {
                height: 1.6rem;

                @media (max-width: $md3+px) {
                    height: 14px;
                }
            }
        }
    }

    &__btn-login {
        display: flex;
        align-items: center;
        margin-right: 5rem;
        font-size: 1.6rem;
        line-height: 1.2em;

        @media (max-width: $md2+px) {
            display: none;
        }

        & img,
        & svg {
            flex: 0 0 auto;
            width: 1.8rem;
            height: auto;
            margin-right: 1rem;
        }
    }

    &__sing-up {
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        padding: 1rem 3rem;
        font-size: 1.6rem;
        line-height: 1.2em;
        min-height: 4.8rem;
        background-color: $secondColor;
        border-radius: 1rem;

        @media (max-width: $md2+px) {
            display: none;
        }

        & img,
        & svg {
            flex: 0 0 auto;
            width: 1.8rem;
            height: auto;
            margin-right: 1rem;
        }

        @media (min-width: 992px) {
            &:hover {
                background-color: #082e42;
            }
        }
    }

    &__burger {
        @media (min-width: 992px) {
            display: none;
        }

        height: 44px;
        width: 44px;
        border-radius: 50%;
        background-color: #111f38;
        position: relative;

        @media (max-width: $md3+px) {
            height: 36px;
            width: 36px;
        }

        & span {
            display: block;
            border-radius: 10px;
            height: 1px;
            width: 20px;
            background-color: #fff;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);

            @media (max-width: $md3+px) {
                width: 16px;
            }

            &:nth-child(1) {
                transform: translate(-50%, calc(-50% - 5px));
            }
            &:nth-child(2) {
                transform: translate(-50%, -50%);
            }
            &:nth-child(3) {
                transform: translate(-50%, calc(-50% + 5px));
            }
        }
    }

    &__col-1 {
        border-right: 1px solid rgba(#fff, 0.2);
    }

    &__col-2 {
        flex: 1 1 auto;
        border-right: 1px solid rgba(#fff, 0.2);
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 4rem;
    }

    &__col-3 {
        padding-left: 4rem;
        display: flex;
        align-items: center;
    }

    &__vehicle-finder {
    }

    &__menu {
        margin-right: 5rem;
    }

    &__time {
        display: flex;
        align-items: center;
        font-size: 1.6rem;
        line-height: 1.18em;

        @media (max-width: $md3+px) {
            font-size: 14px;
            line-height: 16px;
        }

        & img,
        & svg {
            flex: 0 0 auto;
            width: 1.8rem;
            height: auto;
            margin-right: 1rem;
        }
    }

    &__contact {
        margin-right: 3.2rem;
    }

    &__social {
        @media (min-width: 992px) {
            // transform: translateY(-0.3rem);
        }
    }

    &__action {
        display: none;
        padding-left: 0;
        margin-bottom: 0;
        margin-right: 4rem;
        gap: 3rem;

        & a {
            display: flex;
            flex-direction: column;
        }

        & label {
            display: flex;
            align-items: center;
            color: rgba(#fff, 0.7);
            margin-bottom: 0.1rem;
            font-size: 1.4rem;
            line-height: 1.6rem;
            margin-bottom: 0.6rem;

            & img,
            & svg {
                flex: 0 0 auto;
                margin-right: 1rem;
                width: 1.8rem;
                height: auto;
                color: #fff;
            }
        }

        & span {
            font-weight: 500;
            font-size: 1.8rem;
            line-height: 2.1rem;
            color: #fff;
            padding-left: 2.8rem;
        }
    }

    &__account {
        display: none;
        position: relative;
        padding-top: 0.3rem;
        padding-bottom: 0.3rem;

        &:hover {
            & .header__account-link {
                background-color: $mainColor;
            }

            & .header__account-sub-menu {
                visibility: visible;
                opacity: 1;
            }
        }
    }

    &__account-link {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 4.4rem;
        width: 4.4rem;
        border-radius: 50%;
        margin-right: 1.8rem;
        border: 1px solid rgba(#c9cfd1, 0.2);

        @media (max-width: $md3+px) {
            height: 36px;
            width: 36px;
            margin-right: 0;
        }

        & img,
        & svg {
            width: 1.6rem;
            height: auto;

            @media (max-width: $md3+px) {
                width: 13px;
            }
        }
    }

    &__account-sub-menu {
        position: absolute;
        z-index: 5;
        top: 100%;
        left: 0;
        transition: all 0.3s ease;
        background: #ffffff;
        box-shadow: 0px 12px 24px rgba(51, 51, 51, 0.2);
        border-radius: 1rem;
        padding: 3rem;
        color: $textColor;
        min-width: 24rem;
        font-weight: 500;
        font-size: 1.8rem;
        line-height: 2rem;
        opacity: 0;
        visibility: hidden;

        @media (max-width: $md2+px) {
            left: auto;
            right: -48px;
        }
    }

    &__account-sub-menu-row {
        &:not(:last-child) {
            padding-bottom: 2rem;
            margin-bottom: 2rem;
            border-bottom: 1px solid $borderColor;
        }
    }

    &__account-sub-menu-user {
        margin-bottom: 0.6rem;
        font-size: 2rem;
        line-height: 1.2em;
    }

    &__account-sub-menu-list {
        padding-left: 0;
        margin-bottom: 0;

        & > li {
            &:not(:last-child) {
                margin-bottom: 16px;
            }
        }
    }

    &__account-sub-menu-link {
        display: flex;
        align-items: center;
        color: $textColorSecondary;

        & img,
        & svg {
            flex: 0 0 auto;
            margin-left: 1rem;
            width: 1.8rem;
            height: auto;
            opacity: 0.5;
        }
    }

    &__make-deposit {
        display: none !important;

        &.btn-default {
            padding-top: 1rem;
            padding-bottom: 1rem;
            min-height: 4.4rem;
            min-width: 18.6rem;
            font-size: 1.6rem;
            line-height: 1.9rem;
        }
    }

    &--is-scroll {
        & .header__row-1 {
            & .header__body {
                min-height: 6.4rem;

                @media (max-width: $md3+px) {
                    row-gap: 6px;
                }
            }
        }

        & .header__logo {
            @media (min-width: 768px) {
                max-width: 14.7rem;
            }
        }

        & .vehicle-finder__title {
            height: 5rem;
        }

        & .menu__link {
            height: 5rem;
        }

        & .contact-head__top-phone {
            height: 5rem;
        }
    }

    &--user-authorized {
        & .header__row-1 {
            background-color: $secondColor;
        }

        & .header__action {
            @media (min-width: 992px) {
                display: flex;
            }
        }

        & .header__account {
            display: block;

            @media (max-width: $md3+px) {
                margin-left: auto;
                margin-right: 0;
            }
        }

        & .header__make-deposit {
            @media (min-width: 992px) {
                display: flex !important;
            }
        }

        & .header__buttons-group {
            display: none;
        }
        & .header__burger {
            background-color: $mainColor;
        }

        & .header__logo-mob {
            display: none;
        }

        & .header__search {
            @media (max-width: $md3+px) {
                flex: 0 1 100%;
            }
        }

        & .header__row-1 .header__body {
            @media (max-width: $md3+px) {
                display: flex;
                flex-wrap: wrap;
                gap: 10px;
            }
        }
    }
}

.search-head {
    position: relative;

    &__input {
        width: 100%;
        height: 4.4rem;
        background-color: #fff;
        border-radius: 200px;
        outline: none;
        border: none;
        box-shadow: none;
        padding: 1rem 6.5rem 1rem 3rem;
        display: flex;
        align-items: center;
        font-size: 1.6rem;
        line-height: 1em;
        color: $textColor;
        border: 1px solid $borderColor;

        @media (max-width: $md3+px) {
            height: 36px;
            padding: 4px 40px 4px 16px;
        }

        &::placeholder {
            color: $textColorSecondary;
            font-size: 1.6rem;
            line-height: 1em;
            transition: all 0.3s ease;
        }

        &:focus {
            &::placeholder {
                opacity: 0;
            }
        }
    }

    &__submit {
        position: absolute;
        top: 50%;
        right: 0.5rem;
        transform: translateY(-50%);
        z-index: 2;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 3.4rem;
        width: 3.4rem;
        background-color: none;
        border: 1px solid $borderColor;
        outline: none;
        background-color: transparent;
        border-radius: 50%;
        transition: all 0.3s ease;
        color: #000;

        @media (max-width: $md3+px) {
            width: 26px;
            height: 26px;
        }

        @media (min-width: 992px) {
            &:hover {
                background-color: $mainColor;
                color: #fff;
            }
        }

        & img,
        & svg {
            width: 1.4rem;
            height: auto;

            @media (max-width: $md3+px) {
                width: 11px;
            }
        }
    }
}

.language {
    cursor: pointer;
    position: relative;
    padding: 1rem 0;

    &:hover {
        & .language__list {
            display: block;
        }
    }

    &__select {
        font-size: 0;
        width: 4.4rem;
        height: 4.4rem;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        border: 1px solid rgba(#fff, 0.4);

        @media (max-width: $md3+px) {
            width: 40px;
            height: 40px;
        }

        & img {
            width: 2.6rem;
            height: 2.6rem;
            border-radius: 50%;
            object-fit: cover;
            display: block;

            @media (max-width: $md3+px) {
                width: 24px;
                height: 24px;
            }
        }
    }

    &__list {
        position: absolute;
        top: 100%;
        background-color: #fff;
        border-radius: 1rem;
        left: 50%;
        transform: translateX(-50%);
        padding-left: 0;
        margin-bottom: 0;
        overflow: hidden;
        animation: fade 0.3s ease;
        display: none;

        @media (max-width: $md3+px) {
            border-radius: 6px;
        }

        & a {
            display: flex;
            align-items: center;
            padding: 0.8rem 1.2rem;
            transition: all 0.3s ease;
            font-size: 1.6rem;
            line-height: 1em;
            text-transform: uppercase;
            color: $textColor;

            @media (max-width: $md3+px) {
                font-size: 14px;
                padding: 6px 10px;
            }

            & img {
                flex: 0 0 auto;
                width: 2.6rem;
                height: 2.6rem;
                border: 1px solid #fff;
                border-radius: 50%;
                object-fit: cover;
                display: block;
                margin-right: 1rem;

                @media (max-width: $md3+px) {
                    width: 2rem;
                    height: 2rem;
                    margin-right: 8px;
                }
            }
        }
    }
}

.vehicle-finder {
    padding-right: 4rem;
    position: relative;

    @media (min-width: 992px) {
        &:hover {
            & .vehicle-finder__box {
                display: flex;
            }
        }
    }

    &__title {
        display: flex;
        align-items: center;
        height: 6rem;
        font-weight: 500;
        font-size: 1.8rem;
        line-height: 1.16em;
        position: relative;
        cursor: pointer;
        transition: all 0.3s ease;
        padding-right: 2rem;
        white-space: nowrap;

        & img,
        & svg {
            flex: 0 0 auto;
            width: 1.8rem;
            height: auto;
            margin-right: 1.4rem;
        }

        &:before {
            font-weight: 400;
            font-family: "icomoon" !important;
            position: absolute;
            content: "\e940";
            top: 52%;
            transform: translateY(-50%);
            right: 0;
            transition: transform 0.3s ease;
            font-size: 0.6rem;
        }
    }

    &__box {
        position: absolute;
        top: 100%;
        left: 0;
        background: #fbfbfb;
        box-shadow: 0px 12px 24px rgba(51, 51, 51, 0.2);
        border-radius: 1rem;
        overflow: hidden;
        color: $textColor;
        display: none;
        animation: fade 0.3s ease;
    }

    &__box-menu {
        min-width: 22rem;
    }

    &__menu {
        padding-left: 0;
        margin-bottom: 0;
    }

    &__menu-item {
        display: flex;
        align-items: center;
        min-height: 5.7rem;
        border-bottom: 1px solid #eaebec;
        transition: all 0.3s ease;
        padding: 1rem 4rem 1rem 3rem;
        font-weight: 500;
        font-size: 1.8rem;
        line-height: 1.11em;
        position: relative;

        &:before {
            position: absolute;
            font-family: "icomoon" !important;
            content: "\e941";
            top: 50%;
            right: 1.6rem;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 0.8rem;
            transform: translateY(-50%);
            padding-left: 0.2rem;
            color: #223e70;
            width: 2.4rem;
            height: 2.4rem;
            border-radius: 50%;
            border: 1px solid $borderColor;
            transition: all 0.3s ease;
        }

        &.active {
            background-color: $mainColor;
            color: #fff;
            opacity: 1 !important;

            &::before {
                background-color: #fff;
                border-color: #fff;
            }
        }
    }

    &__box-content {
        min-width: 70rem;
        background-color: #fff;
        padding: 4rem 4rem 3rem;
        &:not(.active) {
            display: none;
        }

        & .vehicle-list {
            margin-bottom: 1rem;
        }
    }

    &__box-title {
        margin-bottom: 1.8rem;
    }
}

.vehicle-list {
    padding-left: 0;
    margin-bottom: 0;

    & > li {
        display: inline-block;
        width: 100%;
        margin-bottom: 1.8rem;

        @media (max-width: $md3+px) {
            margin-bottom: 9px;
        }

        & a {
            display: flex;
            justify-content: space-between;
            font-size: 1.8rem;
            line-height: 1.11em;
            background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjAiIGhlaWdodD0iMjAiIHZpZXdCb3g9IjAgMCAyMCAyMCIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPGNpcmNsZSBjeD0iMTAiIGN5PSIxMCIgcj0iNSIgZmlsbD0iI0Q5RDlEOSIvPgo8L3N2Zz4K);
            background-size: 2px;
            background-repeat: repeat-x;
            background-position: left 0 bottom 0.5rem;
            font-weight: 400;

            @media (max-width: $md3+px) {
                font-size: 12px;
                line-height: 14px;
            }
        }

        & strong {
            font-weight: 500;
            background-color: #fff;
            padding-right: 1.5rem;

            &::first-letter {
                text-transform: uppercase;
            }

            @media (max-width: $md3+px) {
                padding-right: 10px;
            }
        }

        & span {
            font-weight: 400;
            background-color: #fff;
            color: $textColorSecondary;
            padding-left: 1.5rem;

            @media (max-width: $md3+px) {
                font-size: 13px;
                line-height: 16px;
                padding-left: 10px;
            }
        }
    }

    &--col-2 {
        column-count: 2;
        column-gap: 4rem;

        @media (max-width: $md2+px) {
            column-gap: 2rem;
        }
    }

    &--col-3 {
        column-count: 3;
        column-gap: 4rem;

        @media (max-width: $md2+px) {
            column-count: 2;
            column-gap: 2rem;
        }
    }
}

.menu {
    &__list {
        padding-left: 0;
        margin-bottom: 0;
        display: flex;

        & > li {
            &:not(:last-child) {
                margin-right: 4rem;
            }

            &.menu-item-has-children {
                position: relative;

                @media (min-width: 992px) {
                    &:hover {
                        & > .sub-menu {
                            display: block;
                        }

                        & .menu__link {
                            color: $mainColor;
                        }
                    }
                }

                & > .menu__link {
                    padding-right: 2rem;

                    &:before {
                        font-family: "icomoon" !important;
                        position: absolute;
                        content: "\e940";
                        top: 52%;
                        transform: translateY(-50%);
                        right: 0;
                        transition: transform 0.3s ease;
                        font-size: 0.6rem;
                    }
                }
            }
        }
    }

    &__link {
        display: flex;
        align-items: center;
        gap: 0.8rem;
        height: 6rem;
        font-weight: 500;
        font-size: 1.8rem;
        line-height: 1.16em;
        transition: all 0.3s ease;
        white-space: nowrap;

        @media (min-width: 992px) {
            &:hover {
                color: $mainColor;
                opacity: 1 !important;
            }
        }
    }

    &__link-label {
        background: #e3433a;
        display: block;
        padding: 0.2rem 0.8rem;
        border-radius: 40px;
        color: #fff;
        font-weight: 500;
        font-size: 1.2rem;
        line-height: 1.16em;
    }
}

.sub-menu {
    position: absolute;
    top: 100%;
    left: -3rem;
    background-color: #fff;
    box-shadow: 0px 12px 24px rgba(51, 51, 51, 0.2);
    border-radius: 1rem;
    padding: 3rem;
    margin-bottom: 0;
    min-width: 22rem;
    color: $textColor;
    font-weight: 700;
    font-size: 1.8rem;
    line-height: 1.11em;
    animation: fade 0.3s ease;
    display: none;

    & > li {
        &:not(:last-child) {
            margin-bottom: 1.8rem;
        }
    }

    &__link {
    }
}

.contact-head {
    position: relative;

    &:hover {
        & .contact-head__dropdown-box {
            display: block;
        }
    }

    &__top-phone {
        display: flex;
        height: 6rem;
        align-items: center;
        white-space: nowrap;
        font-weight: 500;
        font-size: 2.2rem;
        line-height: 1.18em;
        position: relative;

        padding-right: 2rem;

        &:before {
            font-family: "icomoon" !important;
            position: absolute;
            content: "\e940";
            top: 52%;
            transform: translateY(-50%);
            right: 0;
            transition: transform 0.3s ease;
            font-size: 0.6rem;
        }

        & img,
        & svg {
            flex: 0 0 auto;
            width: 1.8rem;
            height: auto;
            margin-right: 1.2rem;
        }
    }

    &__dropdown-box {
        position: absolute;
        overflow: hidden;
        box-shadow: 0px 12px 24px rgba(51, 51, 51, 0.2);
        border-radius: 10px;
        top: 100%;
        left: 0rem;
        background-color: #fff;
        min-width: 27rem;
        color: $textColor;
        display: none;
        animation: fade 0.3s ease;
    }

    &__dropdown-box-row {
        padding: 3rem;

        &:not(:last-child) {
            border-bottom: 1px solid #f2f2f2;
        }

        &:nth-child(2) {
            padding-top: 2rem;
            padding-bottom: 2rem;
        }
        &:nth-child(3) {
            padding-top: 2rem;
        }
    }

    &__phone {
        display: flex;
        align-items: center;
        white-space: nowrap;
        font-weight: 500;
        font-size: 2.2rem;
        line-height: 1.18em;

        @media (max-width: $md3+px) {
            font-size: 18px;
            line-height: 21px;
        }

        &:not(:last-child) {
            margin-bottom: 1.4rem;
        }

        & img,
        & svg {
            flex: 0 0 auto;
            width: 1.8rem;
            height: auto;
            margin-right: 1.2rem;
            color: $mainColor;

            @media (max-width: $md3+px) {
                width: 14px;
                margin-right: 10px;
            }
        }
    }

    &__address {
        display: flex;
        align-items: center;
        font-weight: 400;
        font-size: 1.4rem;
        line-height: 1.21em;

        @media (max-width: $md3+px) {
            font-size: 13px;
            line-height: 15px;
        }
        & img,
        & svg {
            flex: 0 0 auto;
            width: 1.8rem;
            height: auto;
            margin-right: 1.2rem;
            color: $mainColor;
        }
    }

    &__mail {
        font-weight: 500;
        font-size: 1.6rem;
        line-height: 1.18em;
        display: block;
        margin-bottom: 2rem;
    }
}

.social {
    display: flex;
    align-items: center;
    padding-left: 0;
    margin-bottom: 0;

    & > li {
        flex: 0 0 auto;
        &:not(:last-child) {
            margin-right: 0.6rem;
        }
    }

    & a {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 3.6rem;
        width: 3.6rem;
        border-radius: 50%;
        border: 1px solid rgba(#fff, 0.4);
        opacity: 1 !important;
        color: #fff;
        transition: all 0.3s ease;

        @media (max-width: $md3+px) {
            width: 30px;
            height: 30px;
        }

        @media (min-width: 992px) {
            &:hover {
                background-color: $mainColor;
                border-color: $mainColor;
                color: #fff;
            }
        }
    }

    & svg,
    & img {
        width: 1.6rem;
        height: auto;

        @media (max-width: $md3+px) {
            width: 14px;
        }

        &[viewBox="0 0 8 16"] {
            max-height: 1.6rem;

            @media (max-width: $md3+px) {
                max-height: 14px;
            }
        }

        &[src*="facebook"] {
            max-height: 1.6rem;

            @media (max-width: $md3+px) {
            }
        }
    }

    &--dark {
        & a {
            border-color: $borderColor;
            color: $mainColor;
        }

        & img,
        & svg {
            max-height: 1.6rem;
        }
    }
}

.btn-login {
    display: flex;
    align-items: center;
    font-size: 1.6rem;
    line-height: 1.2em;

    @media (max-width: $md3+px) {
        font-size: 14px;
        line-height: 17px;
    }

    & img,
    & svg {
        flex: 0 0 auto;
        width: 1.8rem;
        height: auto;
        margin-right: 1rem;

        @media (max-width: $md3+px) {
            width: 16px;
        }
    }
}
.btn-sing-up {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 1rem 3rem;
    font-size: 1.6rem;
    line-height: 1.2em;
    min-height: 4.8rem;
    background-color: $secondColor;
    border-radius: 1rem;

    @media (max-width: $md3+px) {
        font-size: 14px;
        line-height: 17px;
        min-height: 40px;
        border-radius: 6px;
    }

    & img,
    & svg {
        flex: 0 0 auto;
        width: 1.8rem;
        height: auto;
        margin-right: 1rem;

        @media (max-width: $md3+px) {
            width: 16px;
            margin-right: 8px;
        }
    }
}
@keyframes fade {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.mobile-menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 48;
    pointer-events: none;

    &:before {
        position: absolute;
        content: "";
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 1;
        background-color: rgba($secondColor, 0.4);
        transition: all 0.4s ease;
        opacity: 0;
    }

    &__body {
        position: relative;
        z-index: 2;
        transition: all 0.4s ease;
        width: 100%;
        max-width: 340px;
        background-color: $mainColor;
        color: #fff;
        height: 100%;
        transform: translateX(-110%);

        @media (max-width: $md3+px) {
            max-width: 280px;
        }
    }

    &__inner {
        height: 100%;
        overflow-y: auto;
        overflow-x: hidden;
        padding-bottom: 40px;

        &::-webkit-scrollbar {
            width: 2px;
            height: 2px;
        }
        &::-webkit-scrollbar-thumb {
            background: #fff;
            border-radius: 10px;
        }
        &::-webkit-scrollbar-thumb:hover {
            background: #fff;
        }
        &::-webkit-scrollbar-track {
            background: transparent;
            border-radius: 10px;
            box-shadow: inset 0px 0px 0px 0px transparent;
        }
    }

    &__arrow {
        position: absolute;
        pointer-events: none;
        top: 16px;
        left: calc(100% + 20px);
        display: flex;
        justify-content: center;
        align-items: center;
        height: 34px;
        width: 34px;
        border-radius: 50%;
        background-color: #fff;
        color: #000;
        font-size: 12px;
        padding-right: 2px;
        opacity: 0;
        transform: translateX(-50px);
        transition: all 0.3s ease;

        @media (max-width: $md3+px) {
            top: 14px;
            height: 24px;
            width: 24px;
            left: calc(100% + 8px);
            font-size: 8px;
        }

        & i {
            display: block;
            transform: scale(-1, 1);
        }
    }

    &__row {
        &:not(.mobile-menu__row--1) {
            padding-left: 30px;
            padding-right: 30px;

            @media (max-width: $md3+px) {
                padding-left: 20px;
                padding-right: 20px;
            }
        }
    }

    &__row--1 {
    }
    &__row--2 {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-top: 20px;
        margin-bottom: 20px;

        @media (max-width: $md3+px) {
            padding-top: 10px;
            margin-bottom: 10px;
        }
    }

    &__row--3 {
        margin-bottom: 30px;

        @media (max-width: $md3+px) {
            margin-bottom: 20px;
        }
    }

    &__row--4 {
    }

    &__list {
        padding-left: 0;
        margin-bottom: 0;

        & > li {
            &.menu-item-has-children {
                position: relative;

                & > .mobile-menu__list-link {
                    position: relative;
                    padding-right: 40px;

                    @media (max-width: $md3+px) {
                        padding-right: 30px;
                    }

                    &:before {
                        font-family: "icomoon" !important;
                        position: absolute;
                        content: "\e940";
                        top: 50%;
                        font-weight: 400;
                        transform: translateY(-50%);
                        right: 30px;
                        transition: background-color, border-color 0.3s ease;
                        font-size: 0.5rem;
                        padding-top: 2px;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        height: 24px;
                        width: 24px;
                        border-radius: 50%;
                        border: 1px solid rgba(#fff, 0.3);

                        @media (max-width: $md3+px) {
                            right: 20px;
                            width: 20px;
                            height: 20px;
                            font-size: 0.4rem;
                            padding-top: 1px;
                        }
                    }

                    &.active {
                        background-color: rgba(#111f38, 0.3);
                        &:before {
                            background-color: #fff;
                            border-color: #fff;
                            transform: translateY(-50%) scale(1, -1);
                            color: #000;
                        }
                    }
                }
            }
        }
    }

    &__list-link {
        border-bottom: 1px solid rgba(#fff, 0.16);
        height: 68px;
        display: flex;
        align-items: center;
        padding: 10px 30px;
        font-weight: 500;
        font-size: 18px;
        line-height: 21px;

        @media (max-width: $md3+px) {
            height: 56px;
            padding: 10px 20px;
            font-size: 14px;
            line-height: 16px;
        }
    }

    &__sub-menu {
        padding-left: 0;
        margin-bottom: 0;
        display: none;
        background-color: rgba(#111f38, 0.3);
    }

    &__sub-menu-link {
        border-bottom: 1px solid rgba(#fff, 0.16);
        height: 68px;
        display: flex;
        align-items: center;
        padding: 10px 30px;
        font-weight: 500;
        font-size: 18px;
        line-height: 21px;

        @media (max-width: $md3+px) {
            height: 56px;
            padding: 10px 20px;
            font-size: 14px;
            line-height: 16px;
        }

        &[data-open-vehicle-list-by-id] {
            position: relative;
            &:before {
                position: absolute;
                font-family: "icomoon" !important;
                content: "\e941";
                top: 50%;
                font-weight: 400;
                transform: translateY(-50%);
                transition: transform 0.3s ease;
                right: 30px;
                font-size: 0.9rem;
                padding-top: 2px;
                display: flex;
                justify-content: center;
                align-items: center;
                height: 24px;
                width: 24px;
                border-radius: 50%;
                border: 1px solid rgba(#fff, 0.3);

                @media (max-width: $md3+px) {
                    height: 20px;
                    width: 20px;
                    font-size: 0.7rem;
                    padding-top: 1px;
                }

                @media (max-width: $md3+px) {
                    right: 20px;
                }
            }
        }
    }

    & .header__time {
        margin-bottom: 20px;

        @media (max-width: $md3+px) {
            font-size: 15px;
            line-height: 18px;

            & img,
            & svg {
                width: 16px;
                margin-right: 8px;
            }
        }
    }

    & .contact-head__dropdown-box {
        display: block;
        position: static;
        border-radius: 0;
        background-color: transparent;
        box-shadow: none;
        color: inherit;
        overflow: visible;
    }

    & .contact-head__dropdown-box-row {
        padding: 0;
        border: none;
        &:not(:last-child) {
            margin-bottom: 30px;

            @media (max-width: $md2+px) {
                margin-bottom: 20px;
            }
        }

        &:last-child {
            position: relative;
            padding-top: 30px;

            @media (max-width: $md3+px) {
                padding-top: 20px;
            }

            &:before {
                position: absolute;
                content: "";
                top: 0;
                left: 50%;
                transform: translateX(-50%);
                height: 1px;
                width: 200%;
                background-color: rgba(#fff, 0.2);
            }
        }
    }

    & .contact-head__phone {
        @media (max-width: $md3+px) {
            font-size: 18px;
            line-height: 21px;
        }
        &:not(:last-child) {
            margin-bottom: 10px;
        }

        & svg {
            color: #fff;

            @media (max-width: $md3+px) {
                width: 14px;
                margin-right: 10px;
            }
        }
    }

    & .social--second {
        margin-bottom: 10px;
        & a {
            display: flex;
        }
    }

    & .contact-head__address {
        @media (max-width: $md3+px) {
            font-size: 13px;
            line-height: 15px;
        }
        & svg {
            color: #fff;

            @media (max-width: $md3+px) {
                width: 16px;
                margin-right: 8px;
            }
        }
    }

    & .contact-head__mail {
        @media (max-width: $md3+px) {
            font-size: 14px;
            line-height: 16px;
            margin-bottom: 10px;
        }
    }

    & .social {
        color: inherit;
    }

    &--open {
        pointer-events: auto;

        &:before {
            opacity: 1;
        }

        & .mobile-menu__body {
            transform: translateX(0);
        }

        & .mobile-menu__arrow {
            opacity: 1;
            transform: translate(0);
        }
    }
}

.vehicle-finder-mob {
    position: absolute;
    z-index: 10;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: $mainColor;
    transition: all 0.3s ease;
    transform: translate(-100%);

    &--open {
        transform: translate(0%);
    }

    &__row-1 {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
    }

    &__row-2 {
        padding-left: 30px;
        padding-right: 30px;
        overflow-y: auto;
        height: 100%;
        padding-bottom: 40px;
        padding-top: 68px;

        @media (max-width: $md3+px) {
            padding-top: 56px;
        }

        &::-webkit-scrollbar {
            width: 2px;
            height: 2px;
        }
        &::-webkit-scrollbar-thumb {
            background: #fff;
            border-radius: 10px;
        }
        &::-webkit-scrollbar-thumb:hover {
            background: #fff;
        }
        &::-webkit-scrollbar-track {
            background: transparent;
            border-radius: 10px;
            box-shadow: inset 0px 0px 0px 0px transparent;
        }

        @media (max-width: $md3+px) {
            padding-left: 20px;
            padding-right: 20px;
        }
    }

    &__btn-back {
        display: flex;
        width: 100%;
        align-items: center;
        border: none;
        outline: none;
        box-shadow: none;
        height: 68px;
        background-color: $mainColor;
        border-bottom: 1px solid rgba(255, 255, 255, 0.16);
        font-weight: 500;
        font-size: 18px;
        line-height: 21px;
        padding-left: 30px;
        padding-right: 30px;
        color: #fff;

        &:before {
            font-family: "icomoon" !important;
            content: "\e941";
            top: 50%;
            font-weight: 400;
            transform: scale(-1, 1);
            transition: transform 0.3s ease;
            font-size: 1rem;
            margin-right: 1em;
            font-size: 0.9rem;
            padding-top: 2px;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 24px;
            width: 24px;
            border-radius: 50%;
            border: 1px solid rgba(#fff, 0.3);

            @media (max-width: $md3+px) {
                height: 20px;
                width: 20px;
                padding-top: 1px;
                font-size: 0.7rem;
            }

            @media (max-width: $md3+px) {
                right: 20px;
            }
        }

        @media (max-width: $md3+px) {
            height: 56px;
            padding: 10px 20px;
            font-size: 14px;
            line-height: 16px;
        }
    }

    & .vehicle-list {
        padding-top: 10px;
        & > li {
            & strong,
            & span {
                background-color: $mainColor;
            }

            & span {
                color: rgba(#fff, 0.7);
            }
        }
    }

    & .link {
        &::after {
            color: #fff;
        }
    }
}
