.advantages {
    background: #f9f9f9;
    padding: 35px 0;

    @media (min-width: 768px) {
        max-width: none;
        padding: 7rem 0;
    }

    &__title {
        text-align: center;
        margin-bottom: 20px;

        @media (min-width: 768px) {
            margin-bottom: 4rem;
        }
    }

    &__body {
        margin-bottom: 20px;

        @media (min-width: 768px) {
            margin-bottom: 4rem;
            position: relative;
        }
    }

    &__lines {
        display: none;

        @media (min-width: 768px) {
            display: block;
            position: absolute;
            left: 50%;
            top: 0;
            z-index: 1;
            transform: translateX(-50%);
            width: 389px;
        }

        @media (min-width: 992px) {
            width: 111.9rem;
        }

        & img {
            width: 100%;
            height: auto;
        }
    }

    &__list {
        display: flex;
        padding-left: 0;
        flex-wrap: wrap;
        gap: 2rem;
        margin-bottom: 0;

        @media (max-width: $md3+px) {
            gap: 10px;
        }

        & > li {
            padding: 5rem 2rem;
            border-radius: 1rem;
            background-color: #fff;
            flex: 1 1 auto;
            min-width: calc(20% - (2rem * 4 / 5));

            @media (max-width: $md2+px) {
                min-width: calc(50% - (2rem / 2));
            }

            @media (max-width: $md3+px) {
                min-width: auto;
                flex: 0 1 100%;
                padding: 20px;
            }
        }
    }

    &__list-icon {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 24px;
        margin-bottom: 1.2rem;

        @media (min-width: 768px) {
            height: 3rem;
            margin-bottom: 2rem;
        }

        & img {
            height: 100%;
            width: auto;
        }
    }

    &__list-text {
        max-width: 22.8rem;
        text-align: center;
        margin: 0 auto;
        font-size: 1.8rem;
        line-height: 2.1rem;

        @media (max-width: $md3+px) {
            font-size: 14px;
            line-height: 16px;
            max-width: none;
        }
    }

    &__bottom {
        padding-top: 20px;
        border-top: 1px solid rgba($borderColor, 0.5);

        @media (min-width: 768px) {
            padding-top: 4rem;
        }
    }

    &__text {
        font-size: 13px;
        line-height: 18px;
        text-align: center;
        color: $textColorSecondary;

        @media (min-width: 768px) {
            max-width: 97.8rem;
            font-size: 1.6rem;
            line-height: 1.1875em;
            margin: 0 auto;
        }
    }
}
