@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?9izybc');
  src:  url('../fonts/icomoon.eot?9izybc#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?9izybc') format('truetype'),
    url('../fonts/icomoon.woff?9izybc') format('woff'),
    url('../fonts/icomoon.svg?9izybc#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-arrow-left1:before {
  content: "\e90d";
}
.icon-star:before {
  content: "\e900";
}
.icon-arrow-rigth:before {
  content: "\e901";
}
.icon-add-user:before {
  content: "\e902";
}
.icon-alarm:before {
  content: "\e903";
}
.icon-arrow-left:before {
  content: "\e904";
}
.icon-auction:before {
  content: "\e905";
}
.icon-bid-now:before {
  content: "\e906";
}
.icon-buy:before {
  content: "\e907";
}
.icon-calculator:before {
  content: "\e908";
}
.icon-calendar:before {
  content: "\e909";
}
.icon-uniE90A:before {
  content: "\e90a";
}
.icon-uniE90B:before {
  content: "\e90b";
}
.icon-chat:before {
  content: "\e90c";
}
.icon-check:before {
  content: "\e90e";
}
.icon-check-green:before {
  content: "\e90f";
}
.icon-circle-arrow-right:before {
  content: "\e910";
}
.icon-circle-check:before {
  content: "\e911";
}
.icon-clock:before {
  content: "\e912";
}
.icon-clock-2:before {
  content: "\e913";
}
.icon-close:before {
  content: "\e914";
}
.icon-copy:before {
  content: "\e915";
}
.icon-deposit:before {
  content: "\e916";
}
.icon-dot:before {
  content: "\e917";
}
.icon-email:before {
  content: "\e918";
}
.icon-eye:before {
  content: "\e919";
}
.icon-facebook:before {
  content: "\e91a";
}
.icon-filter:before {
  content: "\e91b";
}
.icon-folder:before {
  content: "\e91c";
}
.icon-gear:before {
  content: "\e91d";
}
.icon-history:before {
  content: "\e91e";
}
.icon-info:before {
  content: "\e91f";
}
.icon-information:before {
  content: "\e920";
}
.icon-instagram:before {
  content: "\e921";
}
.icon-list:before {
  content: "\e922";
}
.icon-local:before {
  content: "\e923";
}
.icon-log-in:before {
  content: "\e924";
}
.icon-minus:before {
  content: "\e925";
}
.icon-money:before {
  content: "\e926";
}
.icon-offer:before {
  content: "\e927";
}
.icon-options:before {
  content: "\e928";
}
.icon-paper-clip:before {
  content: "\e929";
}
.icon-pause:before {
  content: "\e92a";
}
.icon-phone:before {
  content: "\e92b";
}
.icon-play:before {
  content: "\e92c";
}
.icon-plus:before {
  content: "\e92d";
}
.icon-question:before {
  content: "\e92e";
}
.icon-quote:before {
  content: "\e92f";
}
.icon-rotate:before {
  content: "\e930";
}
.icon-search:before {
  content: "\e931";
}
.icon-search-no-result:before {
  content: "\e932";
}
.icon-send-message:before {
  content: "\e933";
}
.icon-ship:before {
  content: "\e934";
}
.icon-star1:before {
  content: "\e935";
}
.icon-telegram-white:before {
  content: "\e936";
}
.icon-tooltip:before {
  content: "\e937";
}
.icon-update-prifile:before {
  content: "\e938";
}
.icon-user:before {
  content: "\e939";
}
.icon-viber-white:before {
  content: "\e93a";
}
.icon-wallet:before {
  content: "\e93b";
}
.icon-whatsapp-white:before {
  content: "\e93c";
}
.icon-youtube:before {
  content: "\e93d";
}
.icon-arrow-right:before {
  content: "\e93e";
}
.icon-check1:before {
  content: "\e93f";
}
.icon-chevron-down:before {
  content: "\e940";
}
.icon-chevron-right:before {
  content: "\e941";
}
.icon-play_circle_filled:before {
  content: "\e942";
}
.icon-pause_circle_filled:before {
  content: "\e943";
}
.icon-star-empty:before {
  content: "\e9d7";
}
.icon-star-full:before {
  content: "\e9d9";
}
