//===== filter slider =========================================================
.price-range {
    padding-top: 1px;
    &__values {
        display: flex;
        align-items: center;
        justify-content: space-between;
        font-size: 1.6rem;
        line-height: 1.18em;

        @media (max-width: $md3+px) {
            font-size: 13px;
            line-height: 16px;
        }

        & span {
            display: flex;
            align-items: center;
        }
    }

    &__input {
    }

    &__slider {
        padding: 0 1rem;
        margin-top: 0.8rem;
        margin-bottom: 2.2rem;

        @media (max-width: $md3+px) {
            margin-bottom: 14px;
        }

        &.noUi-target {
            height: 0.4rem;
            box-shadow: none;
            background-color: #fff;
            border: 20px;
        }
        &.noUi-state-drag {
            & .noUi-handle {
                border-color: $mainColor;
            }
        }

        & .noUi-base {
            width: 100%;
            height: 0.4rem;
        }

        & .noUi-connect {
            background-color: $mainColor !important;
        }

        & .noUi-handle {
            width: 2rem;
            height: 2rem;
            border: 0.4rem solid $mainColor;
            background-color: #fff;
            border-radius: 50%;
            box-shadow: none;
            right: -1.05rem;
            top: -0.8rem;
            cursor: pointer;

            &:before,
            &:after {
                display: none;
            }

            &:before {
                position: absolute;
                content: "";
                top: 50%;
                left: 50%;
                z-index: 2;
                transform: translate(-50%, -50%);
                display: block;
                height: 0.4rem;
                width: 0.4rem;
                border-radius: 50%;
                background-color: $mainColor;
            }
        }

        & .noUi-tooltip {
            background-color: transparent;
            border: none;
            outline: none;
            box-shadow: none;
            padding: 0;
            font-weight: 700;
            font-size: 2rem;
            line-height: 1.2em;
            bottom: auto;
            top: calc(100% + 1rem);

            @media (max-width: $md3+px) {
                font-size: 16px;
                line-height: 19px;
                top: calc(100% + 6px);
            }
        }
    }

    &--one-thumb {
        & .price-range__slider {
            margin-top: 1.2rem;
            margin-bottom: 2rem;
            padding: 0;
            height: 0.6rem;

            @media (max-width: $md3+px) {
                height: 4px;
                margin-bottom: 12px;
            }

            & .noUi-base {
                height: 0.6rem;

                @media (max-width: $md3+px) {
                    height: 4px;
                }
            }

            & .noUi-handle {
                width: 3rem;
                height: 3rem;
                border: 0.6rem solid $mainColor;
                top: -1.2rem;

                @media (max-width: $md3+px) {
                    top: -11px;
                    width: 26px;
                    height: 26px;
                    border: 3px solid $mainColor;
                }

                &::before {
                    height: 0.8rem;
                    width: 0.8rem;

                    @media (max-width: $md3+px) {
                        height: 6px;
                        width: 6px;
                    }
                }
            }
        }

        & .price-range__start-value {
            font-weight: 700;
            font-size: 2.6rem;
            line-height: 1em;
            color: $textColorSecondary;
            transition: all 0.3s ease;

            @media (max-width: $md3+px) {
                font-weight: 400;
                font-size: 14px;
                line-height: 17px;
            }
        }

        & .price-range__end-value {
            font-size: 1.6rem;
            line-height: 1.1875em;
            color: $textColorSecondary;
            transition: all 0.3s ease;

            @media (max-width: $md3+px) {
                font-weight: 400;
                font-size: 14px;
                line-height: 17px;
            }
        }

        &.price-range--start {
            & .price-range__start-value {
                opacity: 0;
            }
        }
        &.price-range--end {
            & .price-range__end-value {
                opacity: 0;
            }
        }
    }
}

//===== AND filter slider =========================================================
