.auction-table {
    &__head {
        margin-bottom: 2rem;
        display: flex;
        font-size: 1.6rem;
        line-height: 1.9rem;
        color: $textColorSecondary;

        @media (max-width: $md2+px) {
            display: none;
        }
    }

    &__head-item {
        &:nth-child(1) {
            width: 25.97%;
            padding-left: 3rem;
        }
        &:nth-child(2) {
            width: 10.77%;
        }
        &:nth-child(3) {
            width: 12.33%;
        }
        &:nth-child(4) {
            width: 32.46%;
        }
        &:nth-child(5) {
            width: 18.47%;
        }
    }

    &__body {
        display: flex;
        flex-direction: column;
        gap: 2rem;
    }
}

.auction-table-card {
    border: 1px solid $borderColor;
    padding-top: 3rem;
    padding-bottom: 3rem;
    border-radius: 1rem;

    @media (max-width: $md2+px) {
        padding: 30px;
    }

    @media (max-width: $md3+px) {
        padding: 20px;
    }

    &--open {
        & .auction-table-card__head-item--location {
            &::before {
                background-color: $mainColor;
				border-color: $mainColor;
				transform: translateY(-50%) scale(1, -1);
				color: #fff
            }
        }
    }

    &__head-mob {
        position: relative;

        @media (min-width: 768px) {
            display: none;
        }

        &:before {
            font-family: "icomoon" !important;
            position: absolute;
            content: "\e902";
            top: 50%;
            -webkit-transform: translateY(-50%);
            -ms-transform: translateY(-50%);
            transform: translateY(-50%);
            right: 0;
            -webkit-transition: -webkit-transform 0.3s ease;
            transition: -webkit-transform 0.3s ease;
            -o-transition: transform 0.3s ease;
            transition: transform 0.3s ease;
            transition: transform 0.3s ease, -webkit-transform 0.3s ease;
            font-size: 0.6rem;
        }

        & .auction-table-card__head-mob-label {
            font-size: 13px;
            line-height: 16px;
            margin-bottom: 0.8rem;
        }

        & .auction-table-card__head-value {
            padding: 0;
            font-weight: 700;
            font-size: 14px;
            line-height: 17px;
            text-align: left;
        }
    }

    &__inner {
        @media (min-width: 768px) {
            display: block !important;
        }
        @media (max-width: $md3+px) {
            display: none;
            padding-top: 2rem;
        }
    }

    &__head {
        margin-bottom: 2rem;
        font-weight: 400;
        font-size: 1.6rem;
        line-height: 1.9rem;

        @media (min-width: 992px) {
            display: flex;
        }

        @media (max-width: $md2+px) {
            line-height: 18px;
            margin-bottom: 3rem;
        }
        @media (max-width: $md3+px) {
            font-size: 13px;
            line-height: 18px;
            margin-bottom: 0rem;
        }
    }

    &__head-item {
        @media (min-width: 992px) {
            &:nth-child(1) {
                width: 25.97%;
                padding-left: 4rem;
            }
            &:nth-child(2) {
                width: 23.1%;
            }
            &:nth-child(3) {
                width: 50.93%;
            }
        }

        @media (max-width: $md2+px) {
            display: flex;
            justify-content: space-between;
            background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjAiIGhlaWdodD0iMjAiIHZpZXdCb3g9IjAgMCAyMCAyMCIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPGNpcmNsZSBjeD0iMTAiIGN5PSIxMCIgcj0iNSIgZmlsbD0iI0Q5RDlEOSIvPgo8L3N2Zz4K);
            background-size: 2px;
            background-repeat: repeat-x;
            background-position: left 0 top 0.9em;

            &:not(:last-child) {
                margin-bottom: 20px;
            }

            &--live {
                display: none;
            }
        }

        @media (max-width: $md3+px) {
            &:not(:last-child) {
                margin-bottom: 8px;
            }

            &--location {
                display: block;
                position: relative;
                padding-bottom: 2rem;
                border-bottom: 1px solid rgba($borderColor, 0.5);
                margin-bottom: 2rem !important;
                background: none !important;

                &:before {
                    font-family: "icomoon" !important;
                    position: absolute;
                    content: "\e940";
                    transition: background-color, border-color 0.3s ease 0s;
                    top: calc(50% - 10px);
                    transform: translateY(-50%);
                    right: 0;
                    font-size: 0.5rem;
                    padding-top: 0.2rem;
                    color: $mainColor;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: 20px;
                    height: 20px;
                    border-radius: 50%;
                    border: 1px solid $borderColor;
                }

                & .auction-table-card__head-mob-label {
                    padding-right: 0;
                    margin-bottom: 6px;
                }

                & .auction-table-card__head-value {
                    text-align: left;
                    padding-left: 0;

                    & strong {
                        font-weight: 400;
                        font-size: 14px;
                        line-height: 16px;
                    }
                }
            }
        }
    }

    &__head-mob-label {
        display: none;

        @media (max-width: $md2+px) {
            color: $textColorSecondary;
            display: inline-block;
            padding-right: 1rem;
            font-weight: 400;
            white-space: nowrap;
            background-color: #fff;
        }
    }

    &__head-value {
        @media (max-width: $md2+px) {
            margin-bottom: 0;
            padding-left: 1rem;
            background-color: #fff;
            text-align: right;
        }

        @media (max-width: $md3+px) {
            max-width: 134px;
        }

        & strong {
            font-weight: 500;
            font-size: 1.8rem;
            line-height: 2.1rem;
        }
    }

    &__body {
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }

    &__body-row {
        border-radius: 3.2rem;
        border: 1px solid $borderColor;
        display: flex;
        min-height: 5rem;
        align-items: center;
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;
        font-size: 1.6rem;
        line-height: 1.9rem;

        @media (min-width: 992px) {
            margin-right: 3rem;
            margin-left: 25.97%;
        }

        @media (max-width: $md3+px) {
            border-radius: 6px;
            padding: 16px 20px;
            display: block;
            font-size: 14px;
            line-height: 16px;
        }
    }

    &__body-row-item {
        padding-right: 0.5rem;

        @media (max-width: $md3+px) {
            padding: 0 !important;
            width: auto !important;
            display: flex;
            align-items: center;
            justify-content: space-between;
            flex-wrap: wrap;
            gap: 10px;

            &:not(:last-child) {
                margin-bottom: 10px;
            }

            &:empty {
                display: none;
            }
        }

        &:nth-child(1) {
            width: 15.09%;
            padding-left: 2rem;

            @media (max-width: $md2+px) {
                width: 15.76%;
            }
        }
        &:nth-child(2) {
            width: 17.27%;

            @media (max-width: $md2+px) {
                width: 20.7%;
            }
        }
        &:nth-child(3) {
            width: 45.1%;

            @media (max-width: $md2+px) {
                width: auto;
                flex: 1 1 auto;
            }
        }
        &:nth-child(4) {
            width: 22.19%;

            @media (max-width: $md2+px) {
                width: auto;
                flex: 0 0 auto;
            }

            @media (max-width: $md3+px) {
                margin-top: 14px;
            }
        }

        &--mob-title {
            @media (max-width: $md3+px) {
                & .auction-table-card__body-row-value {
                    font-size: 14px;
                    line-height: 16px;
                }
            }
        }

        &--mob-border {
            @media (max-width: $md3+px) {
                background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjAiIGhlaWdodD0iMjAiIHZpZXdCb3g9IjAgMCAyMCAyMCIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPGNpcmNsZSBjeD0iMTAiIGN5PSIxMCIgcj0iNSIgZmlsbD0iI0Q5RDlEOSIvPgo8L3N2Zz4K);
                background-size: 2px;
                background-repeat: repeat-x;
                background-position: left 0 top 0.9em;

                & .auction-table-card__body-row-mob-label {
                    background-color: #fff;
                    display: inline-block;
                    padding-right: 1rem;
                }

                & .auction-table-card__body-row-value {
                    padding-left: 1rem;
                    background-color: #fff;
                }
            }
        }
    }

    &__body-row-value {
        word-break: break-word;

        &.text-primary {
            font-weight: 500;
        }
    }

    &__body-row-mob-label {
        font-size: 13px;
        line-height: 16px;
        color: $textColorSecondary;
        @media (min-width: 768px) {
            display: none;
        }
    }

    &__btn {
        &.btn-default {
            min-width: auto;
            min-height: 4rem;
            padding: 0.6rem 2.4rem;
            font-size: 1.6rem;
            line-height: 1.18em;

            @media (max-width: $md3+px) {
                font-size: 14px;
                line-height: 16px;
                width: 100%;
            }
        }
    }
}
