.popup {
	position: fixed;
	width: 100%;
	height: 100%;
	background-color: rgba(#0a3b56, 0.4);
	z-index: 50;
	top: 0;
	left: 0;
	margin: 0;
	padding: 0;
	opacity: 0;
	visibility: hidden;
	overflow-y: auto;
	overflow-x: hidden;
	transition: all 0.8s ease 0s;
	white-space: normal;
	outline: none;
	-webkit-overflow-scrolling: touch;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	-webkit-transform-style: preserve-3d;
	transform-style: preserve-3d;
	-webkit-transform: translateZ(0);

	&--open {
		opacity: 1;
		visibility: visible;

		& .popup__content {
			opacity: 1;
			transform: translateY(0%);
		}
	}

	&__body {
		min-height: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
		padding: 2rem;
	}

	&__content {
		opacity: 0;
		transform: translateY(30px);
		transition: all 0.8s ease 0s;
		background: #ffffff;
		box-shadow: 0px 22px 24px rgba(51, 51, 51, 0.2);
		width: 100%;
		max-width: 51rem;
		padding: 5rem;
		position: relative;

		@media (max-width: $md3+px) {
			padding: 2rem;
		}

		&--lg {
			max-width: 63rem;
		}

		& .btn-default {
			@media (max-width: $md3+px) {
				min-height: 50px;
			}
		}

		& .form__title {
			@media (max-width: $md3+px) {
				padding-right: 2rem;
			}
		}
	}

	&__close {
		position: absolute;
		top: 2rem;
		right: 2rem;
		cursor: pointer;
		z-index: 5;
		transition: all 0.3s ease;
		width: 3rem;
		height: 3rem;
		border-radius: 50%;
		border: 1px solid $borderColor;
		display: flex;
		justify-content: center;
		align-items: center;
		padding: 0.4rem;
		color: $mainColor;

		@media (max-width: $md3+px) {
			top: 1rem;
			right: 1rem;
			height: 20px;
			width: 20px;
			padding: 3px;
		}

		@media (min-width: 992px) {
			&:hover {
				background-color: $mainColor;
				border-color: $mainColor;
				color: #fff;
			}
		}

		& img,
		& svg {
			width: 100%;
			height: auto;
		}
	}

	&__message {
		display: flex;
		align-items: center;
		font-weight: 700;
		font-size: 2rem;
		line-height: 1.2em;

		& img {
			width: 3rem;
			height: auto;
			flex: 0 0 auto;
			margin-right: 1rem;
		}

		& p {
			margin-bottom: 0;
		}

		@media (max-width: $md3+px) {
			font-size: 16px;
			line-height: 19px;
			& img {
				width: 2rem;
				margin-right: 10px;
			}
		}
	}
}

.confirm-bid {
	display: flex;
	flex-direction: column;
	gap: 3rem;

	@media (max-width: $md3+px) {
		gap: 20px;
	}

	&__title {
		text-align: center;
		margin-bottom: 0;
	}

	&__value {
		font-weight: 500;
		font-size: 4rem;
		line-height: 1.2em;
		text-align: center;
		color: $mainColor;

		@media (max-width: $md3+px) {
			font-size: 26px;
			line-height: 31px;
		}
	}

	&__vehicle {
		display: flex;
		border-radius: 1rem;
		border: 1px solid $borderColor;
	}

	&__vehicle-img {
		flex: 0 0 auto;
		width: 11rem;
		min-height: 8rem;
		overflow: auto;
		border-radius: 1rem 0 0 1rem;
		margin: -1px 0 -1px -1px;

		@media (max-width: $md3+px) {
			width: 70px;
			min-height: 50px;
		}
	}

	&__vehicle-title {
		font-weight: 500;
		font-size: 1.8rem;
		line-height: 1.22em;
		color: $mainColor;
		padding: 2rem 3rem;
		align-self: center;

		@media (max-width: $md3+px) {
			font-size: 14px;
			line-height: 16px;
			padding: 9px 10px;
		}
	}

	&__info-list {
	}

	&__text {
		font-size: 1.6rem;
		line-height: 1.1875em;

		@media (max-width: $md3+px) {
			font-size: 14px;
			line-height: 17px;
		}
	}

	&__buttons {
		display: flex;
		flex-direction: column;
		gap: 2rem;

		@media (max-width: $md3+px) {
			gap: 10px;
		}

		& .btn-default {
			min-width: auto;
		}
	}

	& a {
		color: $mainColor;
	}

	&__cancel-btn {
		display: flex;
		align-items: center;
		justify-content: center;
		text-align: center;
		min-height: 4.8rem;
		border-radius: 3.4rem;
		width: 100%;
		border: 1px solid $borderColor;
		outline: none;
		background-color: transparent;
		font-size: 1.6rem;
		line-height: 1.1875em;
		cursor: pointer;
		transition: all 0.3s ease;
		color: $textColorSecondary;
		padding: 0;

		@media (max-width: $md3+px) {
			font-size: 14px;
			line-height: 17px;
		}

		@media (min-width: 992px) {
			&:hover {
				background-color: $mainColor;
				color: #fff;
				border-color: $mainColor;
			}
		}

		& img,
		& svg {
			flex: 0 0 auto;
			width: 1.6rem;
			height: auto;
			margin-left: 0.6rem;
		}
	}
}

.trying-to-bid {
	&__icon {
		display: flex;
		align-items: center;
		height: 4rem;
		margin-bottom: 2rem;

		@media (max-width: $md3+px) {
			display: none;
		}

		& img,
		& svg {
			height: 100%;
			width: auto;
		}
	}

	&__title {
		margin-bottom: 2rem;
		padding-right: 2rem;

		@media (max-width: $md3+px) {
			margin-bottom: 10px;
		}
	}

	&__text {
		font-size: 1.6rem;
		line-height: 1.9rem;
		margin-bottom: 3rem;

		@media (max-width: $md3+px) {
			margin-bottom: 20px;
			font-size: 14px;
			line-height: 16px;
		}
	}

	&__btn {
		width: 100%;
	}
}

.popup-message {
	display: flex;
	flex-direction: column;
	gap: 2rem;

	@media (max-width: $md3+px) {
		gap: 10px;
	}

	&__icon {
		display: flex;
		height: 3.5rem;

		@media (max-width: $md3+px) {
			height: 26px;
		}

		& img,
		& svg {
			height: 100%;
			width: auto;
		}
	}

	&__title {
		margin-bottom: 0;
	}

	&__text {
		
	}
}

.verification {
	display: flex;
	flex-direction: column;
	gap: 3rem;

	@media (max-width: $md3+px) {
		gap: 20px;
	}

	&__head {
		display: flex;
		align-items: center;
	}

	&__head-icon {
		flex: 0 0 auto;
		margin-right: 2rem;
		height: 4rem;

		@media (max-width: $md3+px) {
			height: 20px;
			margin-right: 10px;
		}

		& img,
		& svg {
			height: 100%;
			width: auto;
		}
	}

	&__head-text {
		max-width: 22.5rem;
		font-weight: 700;
		font-size: 2rem;
		line-height: 1.2em;

		@media (max-width: $md3+px) {
			font-size: 16px;
			line-height: 19px;
			max-width: 176px;
		}
	}

	&__body {
		display: flex;
		gap: 2rem;

		@media (max-width: $md3+px) {
			flex-direction: column;
			gap: 10px;
		}

		& .input-wrap {
			flex: 1 1 auto;
		}

		& .btn-default {
			min-width: 15.3rem;
			flex: 0 0 auto;

			@media (max-width: $md3+px) {
				width: 100%;
			}
		}
	}

	&__bottom {
		display: flex;
		align-items: center;
		justify-content: space-between;
		gap: 1.4rem;
		flex-wrap: wrap;

		& a {
			font-size: 1.6rem;
			line-height: 1.1875em;
			color: $mainColor;
			border-bottom: 1px dashed rgba($mainColor, 0.6);

			@media (max-width: $md3+px) {
				font-size: 14px;
				line-height: 17px;
			}
		}

		& p {
			margin-bottom: 0;
			font-size: 1.4rem;
			line-height: 1.21em;
			color: $textColorSecondary;

			@media (max-width: $md3+px) {
				font-size: 13px;
				line-height: 16px;
			}
		}
	}
}
