.form {
    &__title {
        margin-bottom: 3rem;

        @media (max-width: $md3+px) {
            margin-bottom: 2rem;
        }
    }
    &__items {
        display: flex;
        flex-wrap: wrap;
        gap: 2rem;
        margin-bottom: 3rem;

        @media (max-width: $md3+px) {
            gap: 10px;
            margin-bottom: 20px;
        }
    }

    &__item {
        flex: 0 1 100%;
    }

    &__item--half {
        @media (min-width: 992px) {
            flex: 0 1 calc(50% - 1rem);
        }
    }

    &__text {
        margin-bottom: 4rem;
        font-weight: 400;
        font-size: 1.4rem;
        line-height: 1.21em;
        color: #b0cfe1;

        @media (max-width: $md3+px) {
            margin-bottom: 20px;
            font-size: 13px;
            line-height: 16px;
        }

        & strong {
            color: #fff;
            font-weight: 400;
        }

        & a {
            color: #fff;
        }
    }

    &__bottom {
        @media (min-width: 768px) {
            display: flex;
            align-items: center;
            justify-content: space-between;
        }

        @media (max-width: $md3+px) {
            & .btn-default {
                width: 100%;
                margin-bottom: 20px;
            }
        }
    }

    &__use-social {
        display: flex;
        align-items: center;

        @media (max-width: $md3+px) {
            justify-content: space-between;
        }
    }

    &__use-social-label {
        margin-right: 3rem;
        font-weight: 700;
        font-size: 1.4rem;
        line-height: 1.21em;
    }

    &__use-social-list {
        padding-left: 0;
        margin-bottom: 0;
        display: flex;
        gap: 1rem;

        & img,
        & svg {
            width: 4.8rem;
            height: auto;
        }
    }

    &__submit {
        width: 100%;
    }
}

.input {
    display: flex;
    align-items: center;
    width: 100%;
    background: #fff;
    border-radius: 1rem;
    height: 6.8rem;
    padding: 0.8rem 3rem;
    border: none;
    outline: none;
    box-shadow: none;
    font-size: 1.8rem;
    line-height: 1.22em;
    font-weight: 400;
    border: 1px solid $borderColor;

    @media (max-width: $md3+px) {
        height: 58px;
        padding: 10px 20px;
        font-size: 14px;
        line-height: 17px;
        border-radius: 6px;
    }

    &:focus {
        &::placeholder {
            opacity: 0;
        }
    }

    &::placeholder {
        transition: all 0.3s ease;
        color: $textColorSecondary;
    }
}
.textarea {
    display: flex;
    align-items: center;
    width: 100%;
    background: #fff;
    border-radius: 1rem;
    height: 19rem;
    padding: 2.2rem 3rem;
    border: none;
    outline: none;
    box-shadow: none;
    font-size: 1.8rem;
    line-height: 1.22em;
    font-weight: 400;
    border: 1px solid $borderColor;
    resize: none;

    &::-webkit-scrollbar {
        width: 1px;
        height: 1px;
    }
    &::-webkit-scrollbar-thumb {
        background: #fff;
        border-radius: 10px;

    }
    &::-webkit-scrollbar-thumb:hover {
        background: #fff;
    }
    &::-webkit-scrollbar-track {
        background: #fff;
        border-radius: 10px;
        box-shadow: inset 0px 0px 0px 0px #fff;
    }

    @media (max-width: $md3+px) {
        height: 58px;
        padding: 10px 20px;
        font-size: 14px;
        line-height: 17px;
        border-radius: 6px;
    }

    &:focus {
        &::placeholder {
            opacity: 0;
        }
    }

    &::placeholder {
        transition: all 0.3s ease;
        color: $textColorSecondary;
    }
}

.checkbox-radio {
    display: flex;
    align-items: center;
    position: relative;
    cursor: pointer;

    & input {
        position: absolute;
        z-index: -1;
        opacity: 0;
        visibility: hidden;

        &:checked ~ {
            & .checkbox-radio__square {
                background-color: $mainColor;
                border-color: $mainColor;
                background-image: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTAiIGhlaWdodD0iOCIgdmlld0JveD0iMCAwIDEwIDgiIGZpbGw9Im5vbmUiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+CjxwYXRoIGQ9Ik05Ljc2NzY0IDAuMjU4MjUyQzkuNDU4MjQgLTAuMDg2MTkyNSA4Ljk1NTgyIC0wLjA4NTk3NTQgOC42NDYwMSAwLjI1ODI1MkwzLjU5Nzg3IDUuODcwODhMMS4zNTQxOSAzLjM3NjQzQzEuMDQ0MzggMy4wMzE5OCAwLjU0MjE3NCAzLjAzMTk4IDAuMjMyMzYgMy4zNzY0M0MtMC4wNzc0NTM0IDMuNzIwODcgLTAuMDc3NDUzNCA0LjI3OTIxIDAuMjMyMzYgNC42MjM2NUwzLjAzNjg0IDcuNzQxNjFDMy4xOTE2NSA3LjkxMzczIDMuMzk0NjQgOCAzLjU5NzY1IDhDMy44MDA2NyA4IDQuMDAzODYgNy45MTM5NCA0LjE1ODY3IDcuNzQxNjFMOS43Njc2NCAxLjUwNTQ2QzEwLjA3NzUgMS4xNjEyNSAxMC4wNzc1IDAuNjAyNjc1IDkuNzY3NjQgMC4yNTgyNTJaIiBmaWxsPSJ3aGl0ZSIvPgo8L3N2Zz4K");
            }
        }
    }

    &__square {
        flex: 0 0 auto;
        height: 2rem;
        width: 2rem;
        border: 1px solid #d6dbdc;
        margin-right: 1.4rem;
        background-position: center;
        background-size: 65%;
        background-repeat: no-repeat;
        border-radius: 0.4rem;

        @media (max-width: $md3+px) {
            margin-right: 10px;
        }
    }

    &__text {
        font-weight: 400;
        font-size: 1.6rem;
        line-height: 1.25em;

        @media (max-width: $md3+px) {
            font-size: 13px;
            line-height: 14px;
        }
    }
}

.iti {
    width: 100%;
    color: $textColor;
}

.iti__selected-flag {
    background-color: transparent !important;
    padding-left: 3rem;

    @media (max-width: $md3+px) {
        padding-left: 20px;
    }
}
.iti__flag {
    flex: 0 0 auto;
}
.iti__selected-dial-code {
}
.iti__arrow {
    display: none;
}
.iti__flag {
    background-image: url("../img/flags/flags.png");
}

@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
    .iti__flag {
        background-image: url("../img/flags/flags@2x.png");
    }
}
