.form {
    & > *:last-child {
        margin-bottom: 0;
    }
    &__title {
        margin-bottom: 3rem;

        @media (max-width: $md3+px) {
            margin-bottom: 2rem;
        }
    }
    &__title-sm {
        font-weight: 700;
        font-size: 1.6rem;
        line-height: 1.12em;
        margin-bottom: 2rem;

        @media (max-width: $md3+px) {
            font-size: 14px;
            line-height: 17px;
            margin-bottom: 14px;
        }
    }
    &__items {
        display: flex;
        flex-wrap: wrap;
        gap: 2rem;
        margin-bottom: 3rem;

        @media (max-width: $md3+px) {
            gap: 10px;
            margin-bottom: 20px;
        }

        &--has-labels {
            gap: 3rem 2rem;

            @media (max-width: $md3+px) {
                gap: 20px;
            }
        }
    }

    &__item {
        flex: 0 1 100%;

        &.required {
            & .form__label {
                &::after {
                    content: "*";
                    color: $dangerColor;
                    margin-left: 0.3em;
                }
            }
        }
    }

    &__item--half {
        @media (min-width: 768px) {
            flex: 0 1 calc(50% - 1rem);
        }
    }

    &__item--half-md {
        @media (min-width: 992px) {
            flex: 0 1 calc(50% - 1rem);
        }
    }

    &__item--third {
        @media (min-width: 768px) {
            flex: 0 1 calc(50% - 1rem);
        }
        @media (min-width: 992px) {
            flex: 0 1 calc(33.3333333% - calc(2rem * 2 / 3));
        }
    }

    &__item--third-md {
        @media (min-width: 992px) {
            flex: 0 1 calc(33.3333333% - calc(2rem * 2 / 3));
        }
    }

    &__item--flex {
        flex: 1 1 auto;
        min-width: 24rem;
    }

    &__item--empty {
        @media (max-width: $md2+px) {
            display: none;
        }
    }

    &__label {
        font-weight: 700;
        font-size: 1.6rem;
        line-height: 1.1875em;
        min-height: 1.9rem;
        margin-bottom: 1.4rem;
        display: block;

        @media (max-width: $md3+px) {
            font-size: 14px;
            line-height: 17px;
            min-height: 17px;
            margin-bottom: 10px;
        }
    }

    &__text {
        margin-bottom: 4rem;
        font-weight: 400;
        font-size: 1.4rem;
        line-height: 1.21em;
        color: #b0cfe1;

        @media (max-width: $md3+px) {
            margin-bottom: 20px;
            font-size: 13px;
            line-height: 16px;
        }

        & strong {
            color: #fff;
            font-weight: 400;
        }

        & a {
            color: #fff;
        }
    }

    &__simple-text {
        font-size: 1.8rem;
        line-height: 1.22em;

        @media (max-width: $md3+px) {
            font-size: 14px;
            line-height: 17px;
        }

        &--sm {
            font-size: 1.4rem;
            line-height: 1.43em;

            @media (max-width: $md3+px) {
                font-size: 14px;
                line-height: 17px;
            }
        }
    }

    &__note {
        display: flex;
        align-items: center;
        font-size: 1.6rem;
        line-height: 1.1875em;

        @media (max-width: $md3+px) {
            font-size: 14px;
            line-height: 17px;
        }

        & img,
        & svg {
            flex: 0 0 auto;
            margin-right: 1rem;
            width: 2rem;
            height: auto;

            @media (max-width: $md3+px) {
                width: 16px;
            }
        }
    }

    &__bottom {
        @media (min-width: 768px) {
            display: flex;
            align-items: center;
            justify-content: space-between;
        }

        @media (max-width: $md3+px) {
            & .btn-default {
                width: 100%;
                margin-bottom: 20px;
            }
        }
    }

    &__use-social {
        display: flex;
        align-items: center;

        @media (max-width: $md3+px) {
            justify-content: space-between;
        }
    }

    &__use-social-label {
        margin-right: 3rem;
        font-weight: 700;
        font-size: 1.4rem;
        line-height: 1.21em;
    }

    &__use-social-list {
        padding-left: 0;
        margin-bottom: 0;
        display: flex;
        gap: 1rem;

        & a {
            color: #fff !important;
        }

        & img,
        & svg {
            width: 4.8rem;
            height: auto;

            @media (max-width: $md3+px) {
                width: 38px;
            }
        }
    }

    &__submit {
        width: 100%;
    }

    &__radio-group {
        display: flex;
        flex-wrap: wrap;
        gap: 2rem 5rem;
    }

    &__link {
        font-size: 1.4rem;
        line-height: 1.21em;

        @media (max-width: $md3+px) {
            font-size: 13px;
            line-height: 16px;
        }
    }

    &__bottom-text {
        border-top: 1px solid $borderColor;
        padding-top: 3rem;
        font-size: 1.6rem;
        line-height: 1.1875em;

        @media (max-width: $md3+px) {
            padding-top: 20px;
            font-size: 14px;
            line-height: 17px;
        }
    }

    &__price {
        padding-top: 2rem;
        border-top: 1px solid $borderColor;
        display: flex;
        align-items: center;
        justify-content: space-between;

        & label {
            font-size: 1.6rem;
            line-height: 1.12em;

            @media (max-width: $md3+px) {
                font-size: 14px;
                line-height: 17px;
            }
        }

        & p {
            font-weight: 700;
            font-size: 2rem;
            line-height: 1.2em;
            margin-bottom: 0;

            @media (max-width: $md3+px) {
                font-size: 16px;
                line-height: 19px;
            }
        }
    }

    &__buttons {
        display: flex;
        gap: 2rem;

        @media (max-width: $md3+px) {
            flex-direction: column-reverse;
            gap: 10px;
        }

        & .btn-default {
            min-width: auto;
            flex: 0 1 calc(50% - 1rem);

            @media (max-width: $md3+px) {
                flex: 0 1 100%;
            }
        }
    }

    &__address {
        font-size: 1.4rem;
        line-height: 1.21em;
        color: $textColorSecondary;
    }

    & a {
        color: $mainColor;
    }

    &.d-flex {
        flex-direction: column;
        gap: 3rem;

        @media (max-width: $md3+px) {
            gap: 20px;
        }

        & .form__items,
        & .form__title {
            margin-bottom: 0 !important;
        }
    }
}

.error {
    & .input {
        color: $dangerColor;
        border-color: $dangerColor;

        &::placeholder {
            color: $dangerColor;
        }
    }
}

.input {
    display: flex;
    align-items: center;
    width: 100%;
    background: #fff;
    border-radius: 1rem;
    height: 6.8rem;
    padding: 0.8rem 3rem;
    border: none;
    outline: none;
    box-shadow: none;
    font-size: 1.8rem;
    line-height: 1.22em;
    font-weight: 400;
    border: 1px solid $borderColor;

    @media (max-width: $md3+px) {
        height: 58px;
        padding: 10px 20px;
        font-size: 14px;
        line-height: 17px;
        border-radius: 6px;
    }

    &.completed ~ .password-icon {
        opacity: 1;
        visibility: visible;
    }

    &.completed:not(.inactive) {
        border-color: $mainColor;
    }

    &.auto-completed:not(.inactive) {
        background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTgiIGhlaWdodD0iMTQiIHZpZXdCb3g9IjAgMCAxOCAxNCIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHBhdGggZD0iTTE3LjczNjQgMC4yNzkxOTdDMTcuMzg0OSAtMC4wOTMwNjU2IDE2LjgxNTEgLTAuMDkzMDY1NiAxNi40NjM2IDAuMjc5MTk3TDUuNjgxMDUgMTEuNjk5TDEuNTM2NDEgNy4zMDk0N0MxLjE4NDk2IDYuOTM3MjEgMC42MTUxNDYgNi45MzcyNSAwLjI2MzYxOSA3LjMwOTQ3Qy0wLjA4Nzg3MjkgNy42ODE3IC0wLjA4Nzg3MjkgOC4yODUxOCAwLjI2MzYxOSA4LjY1NzQ1TDUuMDQ0NjUgMTMuNzIwOUM1LjM5NiAxNC4wOTMyIDUuOTY2MjQgMTQuMDkyOSA2LjMxNzQ1IDEzLjcyMDlMMTcuNzM2NCAxLjYyNzIxQzE4LjA4NzkgMS4yNTQ5OCAxOC4wODc5IDAuNjUxNDU5IDE3LjczNjQgMC4yNzkxOTdaIiBmaWxsPSIjNUJDNzQ5Ii8+Cjwvc3ZnPgo=);
        background-position: top 50% right 2.7rem;
        background-size: 1.8rem auto;
        background-repeat: no-repeat;
        border-color: $successColor;
    }

    &.inactive {
        pointer-events: none;
        background-color: #f9f9f9;
        border-color: #f9f9f9;
    }

    &.text-uppercase {
        font-weight: 700;
    }

    &:focus {
        &::placeholder {
            opacity: 0;
        }
    }

    &::placeholder {
        transition: all 0.3s ease;
        color: $textColorSecondary;
    }

    &--sm {
        height: 4.8rem;
        font-size: 1.6rem;
        line-height: 1.1875em;

        @media (max-width: $md3+px) {
            height: 38px;
            font-size: 14px;
            line-height: 17px;
        }
    }
}
.input-wrap {
    position: relative;
}

.input-tooltip {
    position: absolute;
    z-index: 3;
    top: 50%;
    right: 3rem;
    transform: translateY(-50%);
    display: flex;
    justify-content: center;
    align-items: center;
    

    @media (max-width: $md3+px) {
        right: 20px;
    }

    &:hover {
        & .input-tooltip__icon {
            color: $mainColor;
        }
        & .input-tooltip__text {
            opacity: 1;
            visibility: visible;
        }
    }

    &__icon {
        color: $textColorSecondary;
        cursor: pointer;
        width: 1.4rem;
        transition: all 0.3s ease;

        & img,
        & svg {
            width: 100%;
            height: auto;
            display: block;
        }
    }

    &__text {
        position: absolute;
        top: 100%;
        right: -3rem;
        background: #ffffff;
        box-shadow: 0px 12px 24px rgba(51, 51, 51, 0.2);
        border-radius: 1rem;
        padding: 1.8rem 2rem;
        min-width: 22rem;
        font-size: 1.4rem;
        line-height: 1.43em;
        transition: all 0.3s ease;
        visibility: hidden;
        opacity: 0;

        @media (max-width: $md3+px) {
            right: -20px;
            min-width: 280px;
            padding: 20px;
            font-size: 13px;
            line-height: 18px;
        }

        & a {
            text-decoration: none;
        }

        & > *:last-child {
            margin-bottom: 0;
        }

        @media (max-width: $md3+px) {
            border-radius: 6px;
        }
    }
}

.phone-input {
    position: relative;

    &__message {
        position: absolute;
        top: 50%;
        right: 3rem;
        transform: translateY(-50%);
        z-index: 3;
        pointer-events: none;
        font-size: 1.6rem;
        line-height: 1.1875em;

        @media (max-width: $md3+px) {
            font-size: 13px;
            line-height: 16px;
            right: 16px;
        }
    }

    &--not-confirmed {
        & .input {
            border-color: $dangerColor;
        }

        & .phone-input__message {
            color: $dangerColor;
        }
    }

    &--confirmed {
        & .input {
            border-color: $successColor;
        }

        & .phone-input__message {
            color: $successColor;
        }
    }
}

.phone-confirm {
    position: absolute;
    top: 50%;
    right: 3rem;
    transform: translateY(-50%);
    z-index: 3;
    font-size: 1.6rem;
    line-height: 1.1875em;
    opacity: 0;
    pointer-events: none;

    @media (max-width: $md3+px) {
        font-size: 13px;
        line-height: 16px;
        right: 16px;
    }

    &--show {
        opacity: 1;
        pointer-events: auto;
    }
}

.textarea {
    display: flex;
    align-items: center;
    width: 100%;
    background: #fff;
    border-radius: 1rem;
    height: 19rem;
    padding: 2.2rem 3rem;
    border: none;
    outline: none;
    box-shadow: none;
    font-size: 1.8rem;
    line-height: 1.22em;
    font-weight: 400;
    border: 1px solid $borderColor;
    resize: none;

    &::-webkit-scrollbar {
        width: 1px;
        height: 1px;
    }
    &::-webkit-scrollbar-thumb {
        background: #fff;
        border-radius: 10px;
    }
    &::-webkit-scrollbar-thumb:hover {
        background: #fff;
    }
    &::-webkit-scrollbar-track {
        background: #fff;
        border-radius: 10px;
        box-shadow: inset 0px 0px 0px 0px #fff;
    }

    @media (max-width: $md3+px) {
        height: 98px;
        padding: 10px 20px;
        font-size: 14px;
        line-height: 17px;
        border-radius: 6px;
    }

    &:focus {
        &::placeholder {
            opacity: 0;
        }
    }

    &::placeholder {
        transition: all 0.3s ease;
        color: $textColorSecondary;
    }
}

.password-icon {
    position: absolute;
    top: 50%;
    right: 3rem;
    transform: translateY(-50%);
    z-index: 3;
    cursor: pointer;
    transition: all 0.3s ease;
    color: $textColorSecondary;
    width: 1.8rem;
    opacity: 0;
    visibility: hidden;

    @media (min-width: 992px) {
        &:hover {
            color: $mainColor;
        }
    }

    & svg {
        width: 100%;
        height: auto;
    }

    &:not(.show-password) {
        & .line {
            opacity: 0;
        }
    }
}

.checkbox-radio {
    display: flex;
    align-items: center;
    position: relative;
    cursor: pointer;

    & input {
        position: absolute;
        z-index: -1;
        opacity: 0;
        visibility: hidden;

        &:checked ~ {
            & .checkbox-radio__square {
                background-color: $mainColor;
                border-color: $mainColor;
                background-image: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTAiIGhlaWdodD0iOCIgdmlld0JveD0iMCAwIDEwIDgiIGZpbGw9Im5vbmUiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+CjxwYXRoIGQ9Ik05Ljc2NzY0IDAuMjU4MjUyQzkuNDU4MjQgLTAuMDg2MTkyNSA4Ljk1NTgyIC0wLjA4NTk3NTQgOC42NDYwMSAwLjI1ODI1MkwzLjU5Nzg3IDUuODcwODhMMS4zNTQxOSAzLjM3NjQzQzEuMDQ0MzggMy4wMzE5OCAwLjU0MjE3NCAzLjAzMTk4IDAuMjMyMzYgMy4zNzY0M0MtMC4wNzc0NTM0IDMuNzIwODcgLTAuMDc3NDUzNCA0LjI3OTIxIDAuMjMyMzYgNC42MjM2NUwzLjAzNjg0IDcuNzQxNjFDMy4xOTE2NSA3LjkxMzczIDMuMzk0NjQgOCAzLjU5NzY1IDhDMy44MDA2NyA4IDQuMDAzODYgNy45MTM5NCA0LjE1ODY3IDcuNzQxNjFMOS43Njc2NCAxLjUwNTQ2QzEwLjA3NzUgMS4xNjEyNSAxMC4wNzc1IDAuNjAyNjc1IDkuNzY3NjQgMC4yNTgyNTJaIiBmaWxsPSJ3aGl0ZSIvPgo8L3N2Zz4K");

                &.checkbox-radio__square--lg {
                    background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTIiIGhlaWdodD0iOSIgdmlld0JveD0iMCAwIDEyIDkiIGZpbGw9Im5vbmUiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+CjxwYXRoIGQ9Ik0xMS44MjQzIDAuMTc5NDg0QzExLjU5IC0wLjA1OTgyNzkgMTEuMjEwMSAtMC4wNTk4Mjc5IDEwLjk3NTcgMC4xNzk0ODRMMy43ODczNyA3LjUyMDhMMS4wMjQyOCA0LjY5ODk1QzAuNzg5OTcyIDQuNDU5NjQgMC40MTAwOTcgNC40NTk2NiAwLjE3NTc0NiA0LjY5ODk1Qy0wLjA1ODU4MiA0LjkzODI0IC0wLjA1ODU4MiA1LjMyNjE5IDAuMTc1NzQ2IDUuNTY1NUwzLjM2MzEgOC44MjA2QzMuNTk3MzQgOS4wNTk4OCAzLjk3NzQ5IDkuMDU5NzIgNC4yMTE2MyA4LjgyMDZMMTEuODI0MyAxLjA0NjA2QzEyLjA1ODYgMC44MDY3NzMgMTIuMDU4NiAwLjQxODc5NSAxMS44MjQzIDAuMTc5NDg0WiIgZmlsbD0id2hpdGUiLz4KPC9zdmc+Cg==);
                }
            }
        }
    }

    &__square {
        flex: 0 0 auto;
        height: 2rem;
        width: 2rem;
        border: 1px solid #d6dbdc;
        margin-right: 1.4rem;
        background-position: center;
        background-size: 65%;
        background-repeat: no-repeat;
        border-radius: 0.4rem;

        @media (max-width: $md3+px) {
            margin-right: 10px;
        }

        &--lg {
            width: 2.8rem;
            height: 2.8rem;
            margin-right: 1.2rem;

            @media (max-width: $md3+px) {
                width: 2.4rem;
                height: 2.4rem;
                margin-right: 1rem;
            }
        }
    }

    &__text {
        font-weight: 400;
        font-size: 1.6rem;
        line-height: 1.25em;

        @media (max-width: $md3+px) {
            font-size: 13px;
            line-height: 14px;
        }

        &--sm {
            font-size: 1.4rem;
            line-height: 1.21em;

            @media (max-width: $md3+px) {
                font-size: 13px;
                line-height: 16px;
            }
        }
    }
}

.radio {
    display: flex;
    align-items: center;
    position: relative;
    user-select: none;
    cursor: pointer;

    & input {
        position: absolute;
        opacity: 0;
        z-index: -1;
        pointer-events: none;

        &:checked ~ .radio__circle {
            &::before {
                opacity: 1;
            }
        }
    }

    &__circle {
        flex: 0 0 auto;
        margin-right: 1.6rem;
        height: 3rem;
        width: 3rem;
        border-radius: 50%;
        border: 1px solid $borderColor;
        position: relative;

        @media (max-width: $md3+px) {
            width: 26px;
            height: 26px;
            margin-right: 10px;
        }

        &:before {
            position: absolute;
            content: "";
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            height: 1.2rem;
            width: 1.2rem;
            border-radius: 50%;
            background-color: $mainColor;
            transition: all 0.3s ease;
            opacity: 0;

            @media (max-width: $md3+px) {
                height: 8px;
                width: 8px;
            }
        }

        &--sm {
            width: 2.8rem;
            height: 2.8rem;
            margin-right: 1.2rem;

            @media (max-width: $md3+px) {
                width: 24px;
                height: 24px;
            }
        }
    }

    &__text {
        font-size: 1.6rem;
        line-height: 1.1875em;

        @media (max-width: $md3+px) {
            font-size: 14px;
            line-height: 17px;
        }

        &--sm {
            font-size: 1.4rem;
            line-height: 1.21em;

            @media (max-width: $md3+px) {
                font-size: 12px;
                line-height: 14px;
            }
        }
    }

    &.inactive {
        pointer-events: none;

        & input:checked ~ .radio__circle::before {
            opacity: 0.4;
        }

        & .radio__circle {
            background-color: #f9f9f9;
            border-color: #f9f9f9;
        }

        & .radio__text {
            color: $textColorSecondary;
        }
    }
}

.checkbox-switch {
    position: relative;
    display: flex;
    align-items: center;
    cursor: pointer;
    user-select: none;

    & input {
        position: absolute;
        z-index: -1;
        opacity: 0;
        visibility: hidden;

        &:checked ~ .checkbox-switch__thumb {
            background-color: $mainColor;
            &:before {
                background-color: #fff;
                left: calc(4.4rem - 2rem - 0.2rem);
            }
        }
    }

    &__thumb {
        flex: 0 0 auto;
        width: 4.4rem;
        margin-right: 1.2rem;
        height: 2.4rem;
        border-radius: 1.2rem;
        background-color: #dbdbdb;
        position: relative;

        &:before {
            position: absolute;
            content: "";
            top: 50%;
            transform: translateY(-50%);
            left: 0.2rem;
            height: 2rem;
            width: 2rem;
            border-radius: 50%;
            background-color: #fff;
            transition: all 0.3s ease;
        }
    }

    &__text {
        font-size: 1.6rem;
        line-height: 1.18em;

        @media (max-width: $md3+px) {
            font-size: 14px;
            line-height: 17px;
        }
    }
}

.iti {
    width: 100%;
    color: $textColor;
}

.iti__selected-flag {
    background-color: transparent !important;
    padding-left: 3rem;
    padding-right: 0;

    @media (max-width: $md3+px) {
        padding-left: 20px;
    }
}
.iti__flag {
    flex: 0 0 auto;
}
.iti__selected-dial-code {
    font-size: 1.8rem;
    line-height: 1.22em;

    @media (max-width: $md3+px) {
        font-size: 14px;
        line-height: 17px;
    }
}
.iti__arrow {
    display: none;
}
.iti__flag {
    background-image: url("../img/flags/flags.png");
}

@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
    .iti__flag {
        background-image: url("../img/flags/flags@2x.png");
    }
}
